<toaster-container toaster-options="{'position-class': 'toast-top-center'}"></toaster-container>
<div class="col-lg-2"></div>

<div class="col-lg-8 container-min-height">

  <div class="col-lg-4 col-md-6 col-sm-6">
    <form name="firmwareForm"  ng-submit="firmware.submitForm(firmwareForm)" novalidate>
      <h2 class="form-signin-heading" data-translate="admin.firmware.header">Firmware Update</h2>
      <div class="form-group has-feedback">
        <input type="text" name="firmware_revision_string" class="form-control" ng-model="firmware.model.firmware_revision_string"
               placeholder="{{ 'admin.firmware.firmware_version' | translate }}" required>
          <span ng-show="firmware.submitted && firmwareForm.firmware_revision_string.$error.required" class="error-mesasage"
                data-translate="admin.firmware.version_require">Version is required.</span>
      </div>
      <div class="row">
        <div class="form-group col-md-6 has-feedback">
            <input type="file" name="firmware_file" file-model="firmware.model.firmware_update_url" ng-required="true">
            <span ng-show="firmware.submitted && !firmware.model.firmware_update_url.name" class="error-mesasage"
                  data-translate="admin.messages.file_require">File is required.</span>
          </div>
        <div class="col-md-6"></div>
      </div>

      <button type="submit" class="btn btn-primary" data-translate="common.buttons.submit">Submit</button>

    </form>
  </div>
  <div class="col-lg-4 col-md-3 col-sm-3"></div>

</div>
<div class="col-lg-2"></div>
