<div class="footer" ng-class="{'footer-fixed': !globals.currentUser || isFooterFixed || !isFooterFix}">
  <div class="container footer-container">
    <ul class="footer-left">
    	<li><a target="_blank" href="http://squarepanda.com/pages/press">Press</a></li>
    	<li><a ui-sref="page.warrentyinfo">Warranty Information</a></li>
    	<li><a ui-sref="progress">Privacy Policy</a></li>
    	<li><a ui-sref="progress">Terms of Service</a></li>
    </ul>
    <div class="footer-logo">
      <a href="http://squarepanda.com" class="pull-right" target="_blank" >
        <img class="imgmargin" src="assets/images/footer-logo.png" />
      </a>
    </div>
  </div>
  <div data-ng-include=" 'layout/footer-links.html' " data-ng-if="!globals.currentUser"></div>
</div>
