<div class="footer" ng-class="{'footer-fixed': !isFooterFix}">
  <div class="container footer-container">
    <ul class="footer-left">
    	<li><a target="_blank" href="http://squarepanda.com/pages/press" data-translate="nav.footer.press">Press</a></li>
    	<li><a ui-sref="page.warrentyinfo" data-translate="nav.footer.warranty_info">Warranty Information</a></li>
    	<li><a ui-sref="page.terms-services" data-translate="nav.footer.terms_service">Terms of Service</a></li>
      <li><a ui-sref="page.privacy-policy" data-translate="nav.footer.privacy_policy" class="highlight">Privacy Policy</a></li>
    </ul>
    <div class="footer-logo">
      <a href="http://squarepanda.com" class="pull-right" target="_blank">
        <img src="assets/images/footer-logo.png" class="non-retina imgmargin" />
        <img src="assets/images/footer-logo@2x.png" class="retina-display imgmargin" width="88" />
      </a>
    </div>
  </div>
  <div data-ng-include=" 'layout/footer-links.html' " data-ng-if="!globals.currentUser"></div>
</div>
