<div class="footer">
  <div class="container-fluid footer-container">
    <ul>
    	<li><a ui-sref="page.press">Press</a></li>
    	<li><a ui-sref="page.warrentyinfo">Warranty Information</a></li>
    	<li><a ui-sref="page.privacy-policy">Privacy Policy</a></li>
    	<li><a ui-sref="page.terms-services">Terms of Service</a></li>
      <li class="footer-right-li"><a href="http://squarepanda.com" class="pull-right" target="_blank" ><img class="imgmargin" src="assets/images/header_logo.png" width="100px"></a>  </li>
    </ul>
  </div>
</div>
