<nav class="navbar navbar-inverse">
    <div class="container">
    <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#"><img src="assets/images/logo.png" /></a>
    </div>
    <div class="col-md-3 location-selection">
        <select class="form-control">
            <option>Vijayawada</option>
        </select>
    </div>
    <div class="col-md-4 time">
        02:55 PM IST  FRI 28 NOV 2016
    </div>
    <div id="navbar" class="collapse navbar-collapse">
        <ul class="nav navbar-nav navbar-right">
        <li><a href="javascript:;"><i class="fa fa-bell notification" aria-hidden="true"></i>
            <i class="count">5</i></a>
        </li>
        <li><a href="javascript:;"><i class="fa fa-cog settings" aria-hidden="true"></i></a></li>
        <li><a href="javascript:;"><i class="fa fa-question-circle questions" aria-hidden="true"></i></a></li>
        <li><a href="javascript:;" class="user-img"><img src='assets/images/user.png'></a></li>
        </ul>
    </div><!--/.nav-collapse -->
    </div>
</nav>