<div class="header clearfix">
  <div class="pull-left width70-per header-bg header-left">
    <div class="navbar navbar-default" role="navigation">
      <div class="navbar-header ">
        <a class="navbar-brand" href="#/"><img src="assets/images/header_logo.png" width="50%"/></a>
      </div>
    </div>
  </div>
  <div class="pull-right width30-per header-right">
    <button data-ng-if="globals.currentUser" type="button" class="navbar-toggle collapsed pull-right" side-bar>
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <div class="top-nav pull-right">
      <div class="top-header">
        <div class="dropdown" data-ng-if="globals.currentUser">
          <a class="dropdown-toggle" type="button" data-toggle="dropdown" width="50%">{{globals.currentUser.firstName}}
            {{globals.currentUser.lastName}}
            <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a ui-sref="account.dashboard" data-translate="nav.header.dashboard">Dashboard</a></li>
            <li><a ui-sref="account.edit_profile" data-translate="nav.header.edit_profile">Edit Profile</a></li>
            <li><a ui-sref="account.change_password" data-translate="nav.header.change_password">Change Password</a>
            </li>
            <li><a ui-sref="account.subscriptions" data-translate="nav.header.subscriptions">My Subscriptions</a></li>
            <li><a href="javascript:;" data-ng-click="logout()" data-translate="nav.header.logout" >Logout</a></li>
          </ul>
        </div>
        <ul data-ng-if="!globals.currentUser">
          <li ng-class="{active: $state.includes('login')}"><a ui-sref="login" translate="nav.login.title">Login</a><span>|</span>
          </li>
          <li ng-class="{active: $state.includes('register')}"><a ng-href="#/register" translate="nav.register.title">Register</a>
          </li>
        </ul>
      </div>
    </div>
  </div>

</div>
</div>
</div>
