<div class="header clearfix">
  <div class="pull-left width50-per header-bg">
    <div class="navbar navbar-default" role="navigation">
      <div class="container">
        <div class="navbar-header header_left">
          <a class="navbar-brand" href="#/home"><img src="assets/images/header_logo.png" width="50%" /></a>
        </div>

    </div>
    </div>
  </div>
  <div class="pull-right width50-per header-right">
    <div class="top-nav pull-right">
        <div class="dropdown" data-ng-if="globals.currentUser">
          <a class="dropdown-toggle" type="button" data-toggle="dropdown">{{globals.currentUser.firstName}}
            {{globals.currentUser.lastName}}
            <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a ui-sref="account.dashboard" data-translate="nav.header.dashboard">Dashboard</a></li>
            <li><a ui-sref="account.edit_profile" data-translate="nav.header.edit_profile">Edit Profile</a></li>
            <li><a ui-sref="account.change_password" data-translate="nav.header.change_password">Change Password</a></li>
            <li><a ui-sref="account.subscriptions" data-translate="nav.header.subscriptions">My Subscriptions</a></li>
            <li><a href="javascript:;" data-ng-click="logout()" data-translate="nav.header.logout">Logout</a></li>
          </ul>
        </div>
        <div class="top-header">
          <ul data-ng-if="!globals.currentUser">
            <li ng-class="{active: $state.includes('login')}"><a ui-sref="login" translate="nav.login.title">Login</a><span>|</span>
            </li>
            <li ng-class="{active: $state.includes('register')}"><a ng-href="#/register" translate="nav.register.title">Register</a>
            </li>
          </ul>
        </div>
        </div>

      </div>
    </div>
  </div>
</div>
