
<div id="page-content-wrapper" class="clearfix">
    <div id="sidebar-wrapper" class="col-md-3">
        <ul class="sidebar-nav">
            <li>
                <a ui-sref="account.dashboard" data-translate="nav.sidebar.dashboard"> Dashboard </a>
            </li>
            <li>
                <a ui-sref='account.players' data-translate="nav.sidebar.players">Players</a>
            </li>
            <li>
                <a ui-sref="account.curriculum" data-translate="nav.sidebar.curriculum">My Curriculum</a>
            </li>
            <li>
                <a ui-sref="account.settings" data-translate="nav.sidebar.settings">My Settings</a>
            </li>
        </ul>
    </div>
    <div ui-view class="col-md-9"></div>
</div>

