<div data-ng-include=" 'layout/account-nav.html' " data-ng-if="globals.currentUser"></div>
<div class=" messages-container content-min-height">
  <div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-8">
      <div class="under-construction">
        <div class="uc-left">
          <img src="assets/images/progress.png">
        </div>
        <div class="uc-right">
          <div class="font-style">
            <h1 class="error-mesasage">Sorry!</h1>
            <p>This page is under construction</p>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-2"></div>
  </div>
</div>
