<div data-ng-include=" 'layout/account-nav.html' " data-ng-if="globals.currentUser"></div>
<div class=" messages-container content-min-height">
  <div class="row">
    <div class="col-md-3"></div>
    <div class="col-md-6">
      <div class="under-construction">
        <div class="uc-left">
          <img src="assets/images/progress.png">
        </div>
        <div class="uc-right">
          <div class="font-style">
            <h1 class="error-mesasage">Sorry!</h1>
            <p>This page is under construction</p>
          </div>
        </div>
      </div>
      <div data-ng-if="globals.currentUser">
        <button ui-sref="account.dashboard" class="btn sp-pur-btn center-block">Go to Home page</button>
      </div>
      <div data-ng-if="!globals.currentUser">
        <button ui-sref="login" class="btn sp-pur-btn center-block">Return to Sign in</button>
      </div>
    </div>
    <div class="col-md-3"></div>
  </div>
</div>
