<div class="container" cg-busy="{promise:subscription.loadPromise, message:'Loading...'}">
  {{subscription.model}}
  <h2>My Subscriptions</h2>
  <form role="form" data-ng-submit="subscription.submitForm()" novalidate>
    <div class="checkbox">
      <label><input type="checkbox" data-ng-model="subscription.model.player_updates">Player updates</label>
    </div>
    <div class="checkbox">
      <label><input type="checkbox" data-ng-model="subscription.model.sp_updates">Square Panda news</label>
    </div>
    <div class="checkbox">
      <label><input type="checkbox" data-ng-model="subscription.model.educational_updates">Educational News feed</label>
    </div>
    <button class="btn btn-primary" type="submit" data-translate="common.buttons.submit">Sign in</button>
  </form>
</div>
