<div class="sp-confirm-modal">
  <div class='modal-header' data-ng-if="modalTitle">
    <h3 class='modal-title'>{{modalTitle}}</h3>
  </div>
  <div class='modal-body'>
    <p data-translate="player.messages.delete_player_body1"></p>
    <br/>
    <p><span data-translate="player.messages.delete_player_body2"></span><a data-translate="player.messages.delete_player_body3">click here</a><span data-translate="player.messages.delete_player_body4"></span> </p>
  </div>
  <div class='modal-footer'>
    <button class='btn btn-default sp-cancel-common-btn' ng-click='cancel()' data-translate='common.buttons.no' data-ng-if="modalType !== 'Error'">No</button>
    <button class='btn btn-default sp-purple-common-btn' ng-click='ok()' data-translate='common.buttons.yes' data-ng-if="modalType !== 'Error'">Yes</button>
    <button class='btn btn-default sp-purple-common-btn' ng-click='close()' data-translate='common.buttons.close' data-ng-if="modalType === 'Error'">Close</button>
  </div>
</div>
