<div class="alert alert-success" data-ng-if="globals.flash && globals.flash.type">
  <strong>{{globals.flash.type}}!</strong> {{globals.flash.message}}
</div>
<table class="table table-hover">
  <tr>
    <td colspan="3">
        <button type="button" class="btn btn-primary btn-lg" ui-sref="account.addplayer" data-translate="player.add_new_player">Add New Player</button>
    </td>
  </tr>
  <tr data-ng-repeat="playerItem in player.data.playersList">
    <td width="110">
      <img data-ng-if="!playerItem.profileURL" src="assets/images/fallback-img.png" alt="player" width="100" height="100" class="img-circle" />
      <img data-ng-if="playerItem.profileURL" data-ng-src="{{playerItem.profileURL}}" alt="player" width="100" height="100" class="img-circle" />
    </td>
    <td>
      {{player.firstName}}
    </td>
    <td>
      <a ui-sref="account.editPlayer({ id: playerItem.id })"> <i class="glyphicon glyphicon-edit"></i></a>
      <span data-target="#{{modal}}" role="button" class="glyphicon glyphicon-trash" data-toggle="modal" data-ng-click="player.deleteListener(playerItem)"></span>
      <a href="javascript:;"data-translate="player.more">more</a>
    </td>
  </tr>
</table>


<modal my-handler="modal" modal-body="player.modalBody" modal-footer="player.modalFooter" modal-header="player.modalTitle" data-ng-click-right-button="player.deleteAction()"></modal>



