<div class="players-tab-list">
  <ul>
    <li>
      <a href="javascript:;" data-ng-click="player.addPlayer()">
        <img data-ng-if="!playerItem.profileURL" src="assets/images/add-player.png" class="non-retina" alt="player" width="55" height="55" />
        <img data-ng-if="!playerItem.profileURL" src="assets/images/add-player@2x.png" class="retina-display" alt="player" width="55" height="55" />
        <span data-translate="player.add_player" title="Add Player"> Add Player </span>
      </a>
    </li>
    <li data-ng-repeat="playerItem in player.data.playersList" data-ng-init="playerItem.croppedImage = ''" >
      <a ui-sref="account.players.details({ id: playerItem.id })"
         ng-class="{ active: $state.includes('account.players.details', { id: playerItem.id })}">
		  <img data-ng-if="!playerItem.profileURL" src="assets/images/fallback-img.png" class="img-circle" alt="player" width="55" height="55" >
        <img data-ng-if="playerItem.imgbase64 && playerItem.profileURL" data-ng-src="{{playerItem.imgbase64}}" class="img-circle" alt="player" width="55" height="55" />
        <img data-ng-if="!playerItem.imgbase64 && playerItem.profileURL" data-ng-src="{{playerItem.profileURL}}" class="img-circle" alt="player" width="55" height="55" />
        <span class="text-ellipsis" title='{{ playerItem.firstName }}'>{{ playerItem.firstName }}</span>
      </a>
    </li>
  </ul>
</div>
