
<div class="player-details clearfix">
  <div class="pd-left nopadding">
    <div class="profile-pic">
      <img data-ng-if="!player.playerObj.profileURL" src="assets/images/fallback-img.png"
           alt="player" width="100%" height="100%"/>
      <img data-ng-if="player.playerObj.profileURL"
           data-ng-src="{{player.playerObj.profileURL}}"
           class="img-rectangle img-border-radius" alt="player" width="100%" height="100%">
      <a ui-sref="account.editPlayer({ id: player.playerObj.id })">
        <i class="glyphicon glyphicon-edit"></i> <span data-translate="player.edit_player">Edit Player</span> </a>
    </div>
  </div>
  <div class="pd-right">
    <h3>{{player.playerObj.firstName}} {{player.playerObj.lastName}}</h3>

    <p><img src="assets/images/badge1.png">
      <span data-ng-if="!player.highlights.earnedBadges" data-translate="player.badges.nobadge_earned"> No badges earned so far. </span>
      <span data-ng-if="player.highlights.earnedBadges"> <strong>{{player.highlights.earnedBadges}}</strong><span data-translate="player.badges.nobadge_earned_days">badges earned in the past 7 days.</span> </span>
    </p>

    <p><img src="assets/images/badge2.png">
      <span data-ng-if="!player.highlights.totalPlayedTime" data-translate="player.badges.no_spendtime"> You haven't spent anytime on games.</span>
      <span data-ng-if="player.highlights.totalPlayedTime"> <strong>{{player.highlights.totalPlayedTime}}</strong> <span data-translate="player.badges.last_time_played">time played in Square Panda for past 7 days.</span></span>
    </p>

    <p><img src="assets/images/badge2.png">
      <span data-ng-if="player.highlights.correctWord"> <span data-translate="player.badges.recent_word">Most recent word </span><strong>"{{player.highlights.correctWord}}"</strong> <span data-translate="player.badges.mark_correct">marked as Correct.</span></span>
      <span data-ng-if="!player.highlights.correctWord" data-translate="player.badges.noword_correct"> No words are marked as correct so far.</span>
    </p>

    <p><img src="assets/images/badge2.png">
      <span data-ng-if="!player.highlights.favourites.word || !player.highlights.favourites.count" data-translate="player.badges.no_fav_word"> No favorite word </span>
      <span data-ng-if="player.highlights.favourites.word && player.highlights.favourites.count"><span data-translate="player.badges.maybe_fav_word"> Maybe "Favourite Word" too?</span>  ( {{player.highlights.favourites.word}}<span data-translate="player.badges.spelling">spelled</span>   {{player.highlights.favourites.word}} {{player.highlights.favourites.count}} <span data-translate="player.badges.times">times</span>)</span>
    </p>


  </div>
</div>

<div class="player-tabs">
  <uib-tabset active="activeJustified" >
    <uib-tab index="0" heading="Big Badges">
      <div class="badges-container clearfix">
        <div class="badges-row"
             data-ng-repeat="reptable in player.splitBadgesData"
             data-ng-init="count = $index ">

          <div class="col-md-3 col-sm-6"
               data-ng-repeat-start="badge in player.bigBadgesData(count)"
               data-ng-click="player.showGraph(count, $index)">

            <data-badge-item item-data="badge"
                             display-index="player.displayChartIndex"
                             index="$index">
            </data-badge-item>
            <p class="bb-arrow" data-ng-if="player.clicked && (player.showRow === count) && (player.showColumn === $index)">
              <img src="assets/images/arrow-icon.png" />
            </p>

          </div>

          <div class="bb-col-{{$index}}" data-ng-repeat-end="" data-ng-if="player.clicked && player.showRow === count">
            <div class="bigbadge-description clearfix">
              <div class="bigbadge-description-text clearfix">
                <p>{{player.badgeDescription}} </p>
                <span class="bigbadge-buttons " data-ng-repeat="word in player.tabWords">{{word}}</span>
              </div>
              <div class="bigbadge-graph-buttons ">
                <button class="btn bigbadge-graph-button-style" data-translate="player.badges.day">Day</button>
                <button class="btn bigbadge-graph-button-style" data-translate="player.badges.week">Week</button>
                <button class="btn bigbadge-graph-button-style" data-translate="player.badges.month">Month</button>
                <button class="btn bigbadge-graph-button-style" data-translate="player.badges.year">Year</button>
              </div>
              <highchart config="player.highchartsNG"></highchart>
            </div>
          </div>

        </div>
      </div>
    </uib-tab>
    <uib-tab index="1" heading="Mini Badges">
      <div class="mini-badges-container clearfix">
        <div class="row minibadges-row">
          <div class="col-md-4" ng-repeat="minibadge in player.miniBadges">
            <div class="mini-badge-item">
              <div class="mb-con center-align">
                <div class="mb-icon-con">
                  <div class="mb-icon">
                    <img data-ng-if="!minibadge.assetURL"  src="assets/images/fallback-img.png" class= "noimagestyle" width="150" height="150px" alt="minibadge"  />
                    <img data-ng-if="minibadge.assetURL && minibadge.status === 'Disabled'" data-ng-src="{{minibadge.disabledassetURL}}" />
                    <img data-ng-if="minibadge.assetURL && minibadge.status === 'Active'" data-ng-src="{{minibadge.assetURL}}"/>
                  </div>
                </div>
              </div>
              <div class="mb-des center-align">
                <h4 >{{minibadge.badgeName}}</h4>
                <span>{{minibadge.description}}</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </uib-tab>
    <uib-tab index="2" heading="Words">
      <div class="badges-container clearfix">
        <div class="table-responsive">
          <table class="table table-striped table-hover borderless">
            <thead>
            <tr>
              <th ng-repeat="key in player.getKeysOfCollection(player.wordsHeaders)"
                  ng-click="player.predicate = key; player.reverse=!player.reverse;">
                {{player.wordsHeaders[key]}}
                <span class="fa fa-sort columnSortIcons" ng-if="key !== player.predicate"></span>
                <span class="fa fa-sort-down columnSortIcons"
                      ng-if="!(player.reverse) && key === player.predicate"></span>
                <span class="fa fa-sort-up columnSortIcons"
                      ng-if="player.reverse && key === player.predicate"></span>
              </th>
              <button class="export-btn" data-ng-click="player.exportCSV()">Export CSV</button>
            </tr>
            </thead>
            <tbody>
            <tr data-ng-repeat="word in player.wordsData | orderBy:player.predicate:player.reverse">
              <td class="player-words text-ellipsis word-text">{{ word.word}}</td>
              <td class="word-icons">{{ word.activity.length}}</td>
              <td class="word-date">{{ word.endtime*1000 | date:"MM/dd/yyyy h:mma"}}</td>
              <td data-ng-if="word.activity[word.activity.length - 1].answer" class="word-check"><i class="fa fa-check last-attempt-green" ></i></td>
              <td data-ng-if="!word.activity[word.activity.length - 1].answer" class="word-check"><i class="fa fa-close last-attempt-blue" ></i></td>
            </tr>
            <tr data-ng-if="player.wordsData.length === 0">
              <td colspan="5" data-translate="player.badges.nodata"> No Data</td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
    </uib-tab>
  </uib-tabset>
</div>
