<div class="tab-content content main-content">
    <div  class="tab-pane fade in active">
        <div class="sub-content">
            <div class="col-lg-2 col-md-2 col-sm-2 nopadding">
                <img data-ng-if="!playerItem.profileURL" src="https://zugworks-dev.s3.amazonaws.com/611e80f6-65f2-451d-b4de-2b958a5180c2.jpg" class="img-rectangle img-border-radius" alt="player" width="120" height="150" >
                <div class="text-over"><i class="glyphicon glyphicon-edit"></i> Edit profile</div>
            </div>
            <div class="col-lg-8 col-md-8 col-sm-8 nopadding">
                <p>{{ playerDetails.model.id }}</p>
                <hr align="left" color="yellow">
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
            </div>
        </div>

    </div>
</div>