<div class="sp-avatars-modal">
  <div class='modal-header sp-common-panel-header'>
    Set your profile picture
  </div>
  <div class='modal-body clearfix'>
    <div class="modal-left">
      <div class="avatar-seletion">
        <img src="{{selectionAvatar}}" width="117" height="117" data-ng-if="selectionAvatar" />
        <img src="assets/images/fallback-img.png" width="117" height="117" data-ng-if="!selectionAvatar" />
      </div>
      <input type="file" name="file" file-model="playerAction.myFile"
             class="img-rectangle img-border-radius " accept='image/*'
             onchange="angular.element(this).scope().photoChanged(this.files)"/>
      <span> (or) </span>
      <span> Choose an Avatar </span>
    </div>
    <div class="modal-right">
        <div class="avatars-items">
          <div class="item" data-ng-repeat="item in avatarsList" data-ng-click="selectAvatar(item)">
            <img src="{{item.assetURL}}" width="50" height="50">
          </div>
        </div>
    </div>
  </div>
  <div class='modal-footer'>
    <button class='btn btn-default' ng-click='ok()'>Submit</button>
    <button class='btn btn-default' ng-click='close()'>Cancel</button>
  </div>
</div>
