<div class="col-lg-2"></div>
<div class="container container-min-height addpalyer-container">
  <div ></div>
  <div class="panel">
    <div class="panel-heading addpalyer-heading text-center">
      <span data-translate="nav.add_player.header" data-ng-if="!playerAction.isUpdate">Add Player</span>
      <span data-translate="nav.edit_player.header" data-ng-if="playerAction.isUpdate">Edit Profile</span>
    </div>
    <div class="panel-body">
      <form name="playerForm"  ng-submit="playerAction.submitForm(playerForm)" novalidate>
        <div class="form-horizontal">

          <div class="form-group"
               ng-class="{ 'has-error' : (submitted && !playerForm.firstName) || (playerForm.firstName.$invalid && !playerForm.firstName.$pristine) }">
            <label class="col-md-2 control-label" data-translate="nav.edit_profile.first_name">First Name:</label>

            <div class="col-md-3">
              <input type="text" name="firstName" class="form-control" data-ng-model="playerAction.model.playerItem.firstName"
                      placeholder="{{ 'player.first_name' | translate }}" required>
            </div>
            <p ng-show="playerForm.$submitted && playerForm.firstName.$error.required" class="error-mesasage"
            data-translate="user.validationMessages.first_name_require">First Name is required.</p>
          </div>
          <div class="form-group"
               ng-class="{ 'has-error' : (submitted && !playerForm.lastName) || (playerForm.lastName.$invalid && !playerForm.lastName.$pristine) }">
            <label class="col-md-2 control-label" data-translate="nav.edit_profile.last_name">Last Name:</label>
            <div class="col-md-3">
              <input type="text" name="lastName" class="form-control" data-ng-model="playerAction.model.playerItem.lastName"
                   placeholder="{{ 'player.last_name' | translate }}" required>
            </div>
            <p ng-show="playerForm.$submitted && playerForm.lastName.$error.required" class="error-mesasage"
               data-translate="user.validationMessages.last_name_require">Last name is required.</p>
          </div>

          <div class="form-group">
            <label class="col-md-2 control-label" >Age :</label>
            <div class="col-md-3">
              <input class="form-control" type="number" size="6"  min="3" max="20" value="5"><br>
            </div>
          </div>

          <div class="form-group">
            <label class="col-md-2 control-label" >Gender :</label>
            <div class="col-md-3">
              <label class="radio-inline radio-label-sizes"><input type="radio" name="gender" checked class="radio-button-sizes"/><img src="assets/images/boy.png" class="gender-icon-size"></label>
              <label class="radio-inline"><input type="radio" name="gender" class="radio-button-sizes"/><img src="assets/images/girl.png"  class="gender-icon-size"></label>
            </div>
          </div>
          <div class="form-group">
            <label class="col-md-2 control-label add-profile-pic">Add a picture:</label>
            <div class="col-md-2">
              <div  class="thumbnail" ng-show="!playerAction.model.playerItem.profileURL">
                <img src="http://www.placehold.it/200x150/EFEFEF/AAAAAA&amp;text=no+image">
              </div>
              <div  class="thumbnail" ng-show="playerAction.model.playerItem.profileURL">
                <img ng-src="{{playerAction.model.playerItem.profileURL}}">
              </div>
              <div>
                <input type="file"  file-model="playerAction.myFile" class="img-rectangle img-border-radius " onchange="angular.element(this).scope().photoChanged(this.files)">
            </div>
          </div>
          </div>
          <div class="col-md-2"></div>
          <button type="submit" class="btn btn-primary" data-translate="common.buttons.addpalyer" data-ng-if="!playerAction.isUpdate">Add Player </button>
          <button type="submit" class="btn btn-primary" data-translate="common.buttons.save" data-ng-if="playerAction.isUpdate">Save </button>
          <a  ui-sref="account.players" type="button" class="btn btn-primary cancel-button" data-translate="common.buttons.cancel" >Cancel
          </a>
        </div>
      </form>
    </div>
  </div>
</div>

  <!--<div cg-busy="{promise:playerAction.loadPromise, message:'Loading Your Data'}"></div>-->

  <!--<div class="col-lg-4 col-md-6 col-sm-6">-->
    <!--<form name="playerForm"  ng-submit="playerAction.submitForm(playerForm)" novalidate>-->
      <!--<h2 class="form-signin-heading" data-translate="nav.edit_player.header" data-ng-if="playerAction.isUpdate">Edit Profile</h2>-->
      <!--<h2 class="form-signin-heading" data-translate="nav.add_player.header" data-ng-if="!playerAction.isUpdate">Add Player</h2>-->
      <!--<div class="form-group has-feedback"-->
           <!--ng-class="{ 'has-error' : (submitted && !playerForm.firstName) || (playerForm.firstName.$invalid && !playerForm.firstName.$pristine) }">-->
        <!--<input type="text" name="firstName" class="form-control" ng-model="playerAction.model.playerItem.firstName"-->
               <!--placeholder="{{ 'player.first_name' | translate }}" required>-->
      <!--<span ng-show="playerForm.$submitted && playerForm.firstName.$error.required" class="error-mesasage"-->
            <!--data-translate="user.validationMessages.first_name_require">First Name is required.</span>-->
      <!--</div>-->
      <!--<div class="form-group has-feedback"-->
           <!--ng-class="{ 'has-error' : (submitted && !playerForm.lastName) || (playerForm.lastName.$invalid && !playerForm.lastName.$pristine) }">-->
        <!--<input type="text" name="lastName" class="form-control" ng-model="playerAction.model.playerItem.lastName"-->
               <!--placeholder="{{ 'player.last_name' | translate }}" required>-->
        <!--<p ng-show="playerForm.$submitted && playerForm.lastName.$error.required" class="error-mesasage"-->
           <!--data-translate="user.validationMessages.last_name_require">Last name is required.</p>-->
      <!--</div>-->
      <!--<div class="row">-->
        <!--<div class="form-group col-md-6">-->

          <!--<div  class="thumbnail" ng-show="!playerAction.model.playerItem.profileURL">-->
            <!--<img src="http://www.placehold.it/200x150/EFEFEF/AAAAAA&amp;text=no+image">-->
          <!--</div>-->
          <!--<div  class="thumbnail" ng-show="playerAction.model.playerItem.profileURL">-->
            <!--<img ng-src="{{playerAction.model.playerItem.profileURL}}">-->
          <!--</div>-->
          <!--<div>-->
            <!--<input type="file"  file-model="playerAction.myFile" onchange="angular.element(this).scope().photoChanged(this.files)">-->
            <!--&lt;!&ndash;<input type="file" ng-show="myFile" file-model="myFile" style=" position: absolute;">&ndash;&gt;-->
            <!--&lt;!&ndash;<span class="btn btn-danger " ng-show="myFile">Remove</span>&ndash;&gt;-->
          <!--</div>-->
        <!--</div>-->
        <!--<div class="col-md-6"></div>-->
      <!--</div>-->

      <!--<button type="submit" class="btn btn-primary" data-ng-disabled="playerForm.$submitted" data-translate="common.buttons.submit">Submit</button>-->
      <!--<div class="">-->
        <!--<a ui-sref="account.players" class="pull-right" data-translate="player.view_players" >Back to view Players</a>-->
      <!--</div>-->
    <!--</form>-->
  <!--</div>-->
  <!--<div class="col-lg-4 col-md-3 col-sm-3"></div>-->

<!--</div>-->
<!--<div class="col-lg-2"></div>-->
