<div class="col-lg-2"></div>
<div class="container container-min-height addpalyer-container container-margins">
  <div></div>

  <div class="panel">
    <div class="panel-heading sp-common-panel-header text-center">
      <span data-translate="nav.add_player.header" data-ng-if="!playerAction.isUpdate">Add Player</span>
      <span data-translate="nav.edit_player.header" data-ng-if="playerAction.isUpdate">Edit Profile</span>
    </div>
    <div class="panel-body">
      <form name="playerForm" ng-submit="playerAction.submitForm(playerForm)" novalidate>
        <div class="form-horizontal">

          <div class="form-group"
               ng-class="{ 'has-error' : (submitted && !playerForm.firstName) || (playerForm.firstName.$invalid && !playerForm.firstName.$pristine) }">
            <div class="col-md-3"></div>
            <label class="col-md-1 control-label player-label" data-translate="nav.edit_profile.first_name">First
              Name</label>

            <div class="col-md-5">
              <input type="text" name="firstName" class="form-control"
                     data-ng-model="playerAction.model.playerItem.firstName"
                     ng-pattern="/^[A-z][A-z0-9 ]*$/"
                     placeholder="{{ 'player.first_name' | translate }}" required>

              <div ng-show="playerForm.$submitted && playerForm.firstName.$error.required" class="error-mesasage">
                <i class="fa fa-exclamation-circle"></i>
                <span data-translate="user.validationMessages.first_name_require">First Name is required.</span>
              </div>
              <div ng-show=" playerForm.firstName.$error.pattern && playerForm.firstName.$dirty"
                   class="error-mesasage">
                <i class="fa fa-exclamation-circle"></i>
                <span data-translate="user.validationMessages.no_specialchar_require"> No special characters allowed and must start with a letter </span>
              </div>
            </div>
          </div>

          <div class="form-group ">
            <div class="col-md-3"></div>
            <label class="col-md-1 control-label player-label" data-translate="user.register.dob">Date of birth</label>

            <div class="col-md-5">
              <dob birth-date="playerAction.model.playerItem.dateofBirth"></dob>
              <div ng-if="playerForm.$submitted && !playerAction.isDOBVaid" class="error-mesasage"
                   data-translate="user.validationMessages.dob_notvalid">Date of birth is not valid
              </div>
            </div>
          </div>

          <div class="form-group gender-align">
            <div class="col-md-3"></div>
            <label class="col-md-1 control-label player-label" data-translate="player.gender">Gender :</label>

            <div class="col-md-5">

              <div class="row">
                <div class="col-md-2">
                  <label class="radio-inline radio-label-sizes"><input type="radio" name="gender" value="F"
                                                                       data-ng-model="playerAction.model.playerItem.gender"
                                                                       class="radio-button-sizes"/><span
                    data-translate="player.girl">Girl</span></label>
                </div>
                <div class="col-md-2">
                  <label class="radio-inline radio-label-sizes"><input type="radio" name="gender" value="M"
                                                                       data-ng-model="playerAction.model.playerItem.gender"
                                                                       class="radio-button-sizes"/><span
                    data-translate="player.boy">Boy</span></label>
                </div>
                <div class="col-md-6">
                  <label class="radio-inline"><input type="radio" name="gender" value="O"
                                                     data-ng-model="playerAction.model.playerItem.gender"
                                                     class="radio-button-sizes"/><span
                    data-translate="player.not_prefer">Prefer not to answer</span></label>
                </div>
              </div>
            </div>
          </div>

          <div class="form-group">
            <div class="col-md-3 "></div>
            <label class="col-md-1 col-sm-2 control-label add-profile-pic player-label"
                   data-translate="player.add_picture">Add
              Picture</label>

            <div class="col-md-5 col-sm-3">

              <div class="avatar-container clearfix">
                <div class="avatar-seletion">
                  <img data-ng-src="{{playerAction.model.playerItem.profileURL}}" width="117" height="117"
                       data-ng-if="playerAction.model.playerItem.profileURL"/>
                  <img data-ng-if="!playerAction.model.playerItem.profileURL"
                    src="assets/images/fallback-img.png" width="117" height="117" />
                </div>
                <div class="avatar-actions">
                  <div class="browse-btn">
                    <input type="file" name="file" file-model="playerAction.myFile"
                           class="img-rectangle img-border-radius " accept='image/*'
                           onchange="angular.element(this).scope().photoChanged(this.files)"/>
                    <button class='btn btn-default btn-primary' data-translate="player.buttons.upload_picture">
                      Upload your own picture
                    </button>
                  </div>


                  <div class="orText">
                    <span> <a href="javascript:;" data-ng-click="playerAction.showAvatars()"> <span
                      data-translate="player.or">Or,</span><u data-translate="player.buttons.choose_avatar">Choose a generic avatar</u>  </a></span>
                  </div>
                </div>

              </div>

              <div ng-show="!playerAction.fileError" class="error-mesasage clearfix">
                <i class="fa fa-exclamation-circle"></i>
                  <span
                    data-translate="user.validationMessages.file_type_wrong"> File Type is wrong. Only allows images </span>
              </div>
              <div ng-show="!playerAction.model.playerItem.profileURL && playerForm.$submitted"
                   class="error-mesasage clearfix">
                <i class="fa fa-exclamation-circle"></i>
                <span data-translate="player.uploadImage_selectavatar"> Please upload image or select Avatar </span>
              </div>
              <div ng-show="playerAction.showSizeLimitError" class="error-mesasage clearfix">
                <i class="fa fa-exclamation-circle"></i>
                  <span
                    data-translate="user.validationMessages.file_selection_wrong"> Please select image with 2MB or Lesser size </span>
              </div>


            </div>
          </div>

          <div class="form-group">
            <div class="col-md-3 "></div>
            <div class="col-md-1 col-sm-2 player-label"></div>
            <div class="col-md-5 col-sm-5 save-cancel-parent">
              <button type="submit" class="btn btn-primary player-button-padding save-cancel-player"
                      data-translate="common.buttons.save"> Save
              </button>

              <a ui-sref="account.players.details({ id: playerAction.model.playerItem.id })" type="button"
                 class="btn btn-primary cancel-button save-cancel-player"
                 data-translate="common.buttons.cancel">Cancel</a>

              <a class="pull-right btn-primary player-delete-button"
                 data-ng-click="playerAction.deleteListener(playerAction.model.playerItem)"
                 data-ng-if="playerAction.isUpdate">
                <i class="fa fa-trash-o"></i>
              </a>

            </div>
          </div>
        </div>
      </form>
    </div>

  </div>
</div>
