<div class="login-bg"></div>
<div class="alert alert-success" data-ng-if="globals.flash && globals.flash.type == 'success'">
  {{globals.flash.message}}
</div>
<div class="alert alert-danger" data-ng-if="globals.flash && globals.flash.type !== 'success'">
  {{globals.flash.message}}
</div>
<div class="content login-wrapper clearfix">
  <div class="col-lg-4"></div>
  <div class="col-lg-4">
    <form name="userForm" class="login-form" data-ng-submit="register.submitForm(userForm)" novalidate>
      <h2 class="form-signin-heading" data-translate="nav.register.header">Register</h2>

      <div class="form-group has-feedback"
           data-ng-class="{ 'has-error' : (register.submitted && !register.model.firstName) || (userForm.firstName.$invalid && !userForm.firstName.$pristine) }">
        <input type="text" name="firstName" class="form-control" data-ng-model="register.model.firstName"
               placeholder="{{ 'user.first_name' | translate }}" required>
        <p
          ng-show="(register.submitted && !register.model.firstName) || (userForm.firstName.$invalid && !userForm.firstName.$pristine)"
          class="help-block" data-translate="user.validationMessages.first_name_require">First name is required.</p>
        <i class="glyphicon glyphicon-user form-control-feedback"></i>
      </div>

      <div class="form-group has-feedback"
           data-ng-class="{ 'has-error' : (register.submitted && !register.model.lastName) || (userForm.lastName.$invalid && !userForm.lastName.$pristine) }">
        <input type="text" name="lastName" class="form-control" data-ng-model="register.model.lastName"
               placeholder="{{ 'user.last_name' | translate }}" required>

        <p ng-show="(register.submitted && !register.model.lastName) || (userForm.lastName.$invalid && !userForm.lastName.$pristine)"
          class="help-block" data-translate="user.validationMessages.last_name_require">Last name is required.</p>
        <i class="glyphicon glyphicon-user form-control-feedback"></i>
      </div>

      <div class="form-group has-feedback"
           data-ng-class="{ 'has-error' : (register.submitted && !register.model.email) || (userForm.email.$invalid && !userForm.email.$pristine) }">
        <input type="email" name="email" class="form-control" data-ng-model="register.model.email" required
               placeholder="{{ 'user.email' | translate }}">

        <p ng-show="(register.submitted && !register.model.email) || (userForm.email.$invalid && !userForm.email.$pristine)"
           class="help-block" data-translate="user.validationMessages.email_valid">Enter a valid email</p>
        <i class="glyphicon glyphicon-envelope form-control-feedback"></i>
      </div>

      <div class="form-group has-feedback"
           data-ng-class="{ 'has-error' : (register.submitted && !register.model.password) || (userForm.password.$invalid && !userForm.password.$pristine) }">
        <input type="password" name="passsword" data-ng-model="register.model.password" class="form-control" required
               placeholder="{{ 'user.password' | translate }}">

        <p  ng-show="(register.submitted && !register.model.password) || (userForm.password.$invalid && !userForm.password.$pristine)"
          class="help-block" data-translate="user.validationMessages.password_require">Password is required</p>
        <i class="glyphicon glyphicon-lock form-control-feedback"></i>
      </div>

      <div class="form-group has-feedback"
           data-ng-class="{ 'has-error' : (register.submitted && !register.model.confirmPassword) || (userForm.confirmPassword.$invalid && !userForm.confirmPassword.$pristine) || (register.model.password !== register.model.confirmPassword) }">
        <input type="password" name="confirmPassword" data-ng-model="register.model.confirmPassword"
               placeholder="{{ 'user.register.confirm_password' | translate }}" class="form-control" required>

        <p ng-show="register.model.confirmPassword && (register.model.password !== register.model.confirmPassword)"
           class="help-block" data-translate="user.validationMessages.password_mismatch">Password mismatch.</p>

        <p ng-show="(register.submitted && !register.model.confirmPassword)" class="help-block"
           data-translate="user.validationMessages.cpassword_require">Confirm password is required.</p>
        <i class="glyphicon glyphicon-lock form-control-feedback"></i>
      </div>
      <button type="submit" class="btn btn-large btn-block btn-primary" data-translate="common.buttons.submit">Submit
      </button>
    </form>
  </div>
  <div class="col-lg-4"></div>


</div>
</div>
<div class="container-fluid register-footer">
  <div class="col-lg-offset-5 col-lg-4">
    <a href="#/login" class="text-center" data-translate="user.register.signIn">Already registered? Sign in</a>
  </div>
</div>
