<div class="messages-container content-min-height">
  <div class="container">
    <div class="col-md-2"></div>
    <div class=" col-md-8">
      <div class="panel panel-default messages-panel">
        <div class="panel-body">
          <div data-ng-if= " confirmRegister.message === 'success' ">
            <p data-translate="user.register.messages.register_success"> Thank you for registering with us </p>

            <p data-translate="user.register.messages.email_activation_message">Your email got activated.
              Now you can login in application with email and password which you provided at register time.</p>
          </div>
          <div data-ng-if= " confirmRegister.message === 'error' ">
            <p data-translate="user.register.messages.register_success"> Thank you for registering with us </p>

            <p data-translate="user.register.messages.user_verified_already"> User already verified</p>
          </div>

        </div>
      </div>
      <button ui-sref="login" class="btn sp-pur-btn center-block" data-translate="user.register.messages.return_login">Return to logn In</button>
    </div>
    <div class="col-md-2"></div>
  </div>
</div>



