<div class="sp-confirm-modal">
  <div class='modal-header' data-ng-if="modalTitle">
    <h3 class='modal-title text-center'>{{modalTitle}}</h3>
  </div>
  <div class='modal-body'>
    <div style="width:100%;height:400px;padding-left: 47%;padding-top: 35%;"
         data-ng-show="!isFrameDataLoaded">
      <span class="feed-img-loader">
        <img src="assets/images/img-loader.gif"/>
      </span>
    </div>
    <div style="width:100%;height:400px;" data-ng-show="isFrameDataLoaded">
      <iframe id="externalHtmlView" ng-src="{{trustSrc(fullHtmlViewURL)}}"
              style="width:100%;height:100%;" frameborder="0" scrolling="yes">
      </iframe>
    </div>
  </div>
  <div class='modal-footer'>
    <button class='btn btn-default sp-cancel-common-btn' ng-click='cancel()'>Cancel</button>
    <button class='btn btn-default sp-purple-common-btn' ng-click='ok()'>{{OKBtnLabel}}</button>
  </div>
</div>
