<div class="curriculum-container">
<div class="container container-min-height">
  <div class="pull-left">
    <!--<h1>Curriculum</h1>-->
    <!--<ul>-->
      <!--<li> News Feeds</li>-->
      <!--<li> New badge eraned</li>-->
      <!--<li> Spelled correctly</li>-->
      <!--<li> SP Educational news articles</li>-->
    <!--</ul>-->
  </div>

    <form>
      <h3>
        Word Lookup
      </h3>
      <div class="form-group left-inner-addon" >
        <div class="col-md-3 col-sm-3">
          <!--<i class="fa fa-search"></i>-->
          <input type="search"
                 class="form-control"
                 placeholder="Search" />
        </div>
        <div class="col-md-3 col-sm-3">
          <button type="button" class="btn btn-default">Button</button>
        </div>

      </div>
      <div class="form-group">
        <label for="exampleInputFile">Select Picturet</label>
        <input type="file" id="exampleInputFile">
        <p class="help-block">Example block-level help text here.</p>
      </div>
      <div class="checkbox">
        <label>
          <input type="checkbox"> Check me out
        </label>
      </div>
      <button type="submit" class="btn btn-default">Submit</button>
    </form>

</div>
</div>
