<div class="col-lg-2"></div>
<toaster-container toaster-options="{'position-class': 'toast-bootom-center'}"></toaster-container>
<div class="container container-min-height addpalyer-container">
  <div class="panel">
    <div class="panel-heading addpalyer-heading text-center">
      <span data-translate="nav.add_custom_word.header" >Add Custom Word</span>
    </div>
    <div class="panel-body">
      <form name="playerForm"  ng-submit="curriculum.submitForm(playerForm)" novalidate>
        <div class="form-horizontal">

          <div class="form-group"
               ng-class="{ 'has-error' : (submitted && !playerForm.firstName) || (playerForm.firstName.$invalid && !playerForm.firstName.$pristine) }">
            <label class="col-md-2 control-label" data-translate="curriculum.word">Word</label>

            <div class="col-md-3" style="display: inline-flex;">
              <input type="text" name="word" class="form-control" data-ng-model="curriculum.model.wordItem.word"
                     placeholder="{{ 'curriculum.word' | translate }}" required>
              <span class="btn btn-default" ng-click="curriculum.searchWord()" style="margin-left:5%"><i class="fa fa-search"></i></span>

            </div>
            <div class="error-mesasage">
              <span ng-show="curriculum.model.message">{{curriculum.model.message}}</span>
            </div>
          </div>
          <div class="form-group">
            <label class="col-md-2 control-label add-profile-pic">Pronunciation</label>
            <div class="col-md-2">
              <div ng-show="curriculum.model.wordItem.audioURL">
                <audio controls autoplay ng-src="{{curriculum.trustResourceURL(curriculum.model.wordItem.audioURL)}}">
                </audio>
              </div>
              <div>
                <input type="file"  file-model="curriculum.myAudioFile" class="img-rectangle img-border-radius " accept="audio/*"  onchange="angular.element(this).scope().audioFileChanged(this.files)">
              </div>
            </div>

          </div>

          <div class="form-group">
            <label class="col-md-2 control-label add-profile-pic">Picture</label>
            <div class="col-md-2">
              <div  class="thumbnail">
                <img ng-src="{{curriculum.model.wordItem.imageURL}}">
              </div>
              <div>
                <input type="file"  file-model="curriculum.myImageFile" class="img-rectangle img-border-radius " onchange="angular.element(this).scope().photoChanged(this.files)">
              </div>
            </div>
          </div>
          <div class="col-md-2"></div>
          <button type="submit"class="btn btn-primary"
                  data-translate="common.buttons.addword" >Add Word
          </button>
          <button type="button" class="btn btn-primary cancel-button" ui-sref="account.curriculum" data-translate="common.buttons.cancel" >Cancel
          </button>
        </div>
      </form>
    </div>
  </div>
</div>

