<div class="col-lg-2"></div>
<div class="container container-min-height addpalyer-container">
  <div cg-busy="{promise:curriculum.loadPromise, message:'Loading Your Data'}"></div>
  <div class="panel">
    <div class="panel-heading addpalyer-heading text-center">
      <span data-translate="nav.add_custom_word.header" >Add Custom Word</span>
    </div>
    <div class="panel-body">
      <form name="playerForm"  ng-submit="curriculum.submitForm(playerForm)" novalidate>
        <div class="form-horizontal">

          <div class="form-group has-feedback"
               ng-class="{ 'has-error' : (submitted && !playerForm.firstName) || (playerForm.firstName.$invalid && !playerForm.firstName.$pristine) }">
            <label class="col-md-2 control-label" data-translate="curriculum.word">Word</label>

            <div class="col-md-3">
              <input type="text" name="word" class="form-control" data-ng-model="curriculum.model.wordItem.word"
                     placeholder="{{ 'curriculum.word' | translate }}" required>
            </div>
            <p ng-show="playerForm.$submitted && playerForm.word.$error.required" class="error-mesasage"
               data-translate="user.validationMessages.curriculum_word_notExists">The word does not exists.</p>
          </div>
          <div class="form-group">
            <label class="col-md-2 control-label add-profile-pic">Pronunciation</label>
            <div class="col-md-2">
              <div ng-hide="curriculum.model.wordItem.audioURL">
                <audio controls>
                  <source src="http://soundbible.com/mp3/1_person_cheering-Jett_Rifkin-1851518140.mp3" type="{{curriculum.model.wordItem.audioType}}">
                  Your browser does not support the audio element.
                </audio>
              </div>
              <div>
                <input type="file"  file-model="curriculum.myFile" class="img-rectangle img-border-radius " onchange="angular.element(this).scope().photoChanged(this.files)">
              </div>
            </div>

          </div>

          <div class="form-group">
            <label class="col-md-2 control-label add-profile-pic">Picture</label>
            <div class="col-md-2">
              <div  class="thumbnail" ng-show="!curriculum.model.wordItem.imageURL">
                <img src="http://www.placehold.it/200x150/EFEFEF/AAAAAA&amp;text=no+image">
              </div>
              <div  class="thumbnail" ng-show="curriculum.model.wordItem.imageURL">
                <img ng-src="{{curriculum.model.wordItem.imageURL}}">
              </div>
              <div>
                <input type="file"  file-model="curriculum.myFile" class="img-rectangle img-border-radius " onchange="angular.element(this).scope().photoChanged(this.files)">
              </div>
            </div>
          </div>
          <div class="col-md-2"></div>
          <button type="submit"class="btn btn-primary "
                  data-translate="common.buttons.addword" >Add Word
          </button>
          <button type="button" class="btn btn-primary cancel-button" data-translate="common.buttons.cancel" >Cancel
          </button>
        </div>
      </form>
    </div>
  </div>
</div>

