<div class="curriculum-container" xmlns="http://www.w3.org/1999/html">
  <div class="container container-min-height">
    <div set-class-when-at-top="fix-to-top container row">
      <toaster-container class="custom-toaster-conatiner" toaster-options="{'position-class': 'toast-top-center', 'close-button':true}"></toaster-container>
    </div>
    <div class="panel curriculum-customword-panel">
      <div class="panel-heading text-center sp-common-panel-header" data-translate="curriculum.custom_word">
        Custom Word
      </div>
      <div class="panel-body add-customword-panle-body">

        <div class="add-custom-word ">
          <form name="curriculumForm" novalidate>
            <p data-translate="curriculum.description.text">Add any word you like into your own personalized Square Panda word bank! In addition to over 4,000 words
              in our database, be sure your child's very own special words are included in their games! Some ideas are:
              <ul>
                <li data-translate="curriculum.description.child_firstname">your child's first name</li>
                <li data-translate="curriculum.description.family_pet">your family pet</li>
                <li data-translate="curriculum.description.child_fav_food">your child's favorite food</li>
                <li data-translate="curriculum.description.upload_mom_dad_pic">or upload your own picture to MOM or DAD</li>
              </ul>
              <p data-translate="curriculum.description.option_limitless">The options are limitless!</p>
            </p>

            <div class="form-horizontal">

              <div class="form-group">
                <div class="col-md-12">

                  <input type="text" class="form-control" name="word" placeholder="{{ 'curriculum.type_word' | translate }}" data-ng-model="curriculum.model.wordItem.wordName" ng-pattern="/^[A-z][A-z]*$/"
                         ng-minlength="1" ng-maxlength="8" autocomplete="off">

                  <div ng-show="curriculumForm.$submitted && curriculumForm.word.$error.required"
                       class="error-mesasage">
                    <i class="fa fa-exclamation-circle"></i>
                    <span data-translate="user.validationMessages.curriculum_word_require">Word Name is required.</span>
                  </div>
                  <div ng-show="curriculumForm.word.$error.pattern" class="error-mesasage">
                    <i class="fa fa-exclamation-circle"></i>
                    <span data-translate="user.validationMessages.only_alphabets">Allow only Alphabets</span>
                  </div>
                  <div
                    ng-show="!curriculumForm.word.$error.pattern && !curriculumForm.word.$error.required && (curriculumForm.word.$error.minlength || curriculumForm.word.$error.maxlength) && curriculumForm.word.$dirty"
                    class="error-mesasage">
                    <i class="fa fa-exclamation-circle"></i>
                    <span data-translate="user.validationMessages.word_length"> Must be between 1 and 8 characters.</span>
                  </div>
                </div>
              </div>

              <div class="form-group">
                <div class="col-md-12 center-align">
                  <button class="btn btn-primary add-custom-word-button"
                          data-ng-click="curriculum.searchWord(curriculum.model.wordItem.wordName)"
                          data-ng-disabled="!curriculum.model.wordItem.wordName"
                          data-translate="curriculum.add_custom_word">Add Custom word
                  </button>
                </div>
              </div>
            </div>
          </form>
        </div>
        <div class="custom-word-list">
          <uib-accordion>
            <uib-accordion-group is-open="status.open">
              <uib-accordion-heading>
                <i class=" glyphicon"
                   ng-class="{' glyphicon-triangle-bottom': status.open, ' glyphicon-triangle-right': !status.open}"></i>
                <span data-translate="curriculum.custom_word_list">Custom Word List</span>
                <!-- fixed #PPAD-251 - <a class="export-btn" data-ng-if="status.open && curriculum.getCustomWordExportData().length > 0"
                        ng-click="$event.stopPropagation();$event.preventDefault();"
                        ng-csv="curriculum.getCustomWordExportData()"
                        filename="custom-words.csv"
                        csv-header="curriculum.getCSVHeader()"><i class="fa fa-download"></i><sapn data-translate="curriculum.export_csv">Export CSV</sapn> </a>-->
              </uib-accordion-heading>
              <div class="table-responsive">
                <table class="table table-striped table-hover">
                  <thead>
                  <tr>
                    <th ng-repeat="key in curriculum.getKeysOfCollection(curriculum.wordsHeaders)"
                        ng-click="curriculum.predicate = key; curriculum.reverse=!curriculum.reverse;">
                      {{curriculum.wordsHeaders[key]}}
                    <span class="fa fa-sort columnSortIcons"
                          ng-if="key !== curriculum.predicate && (key !== 'Sno' && key !== 'actions' )"></span>
                <span class="fa fa-sort-down columnSortIcons"
                      ng-if="!(curriculum.reverse) && key === curriculum.predicate && (key !== 'Sno'&& key !== 'actions' )"></span>
                <span class="fa fa-sort-up columnSortIcons"
                      ng-if="curriculum.reverse && key === curriculum.predicate && (key !== 'Sno'&& key !== 'actions' )"></span>
                    </th>
                  </tr>
                  </thead>
                  <tbody>
                  <tr data-ng-repeat="word in curriculum.customWords.slice(((curriculum.currentPage-1)*curriculum.itemsPerPage), ((curriculum.currentPage)*curriculum.itemsPerPage)) | orderBy:curriculum.predicate:curriculum.reverse">
                    <td class="player-words ">{{ word.Words}}</td>
                    <td data-ng-if="word.picture" class="word-check"><img  class="img-circle" width="40" height="40" ng-src="{{word.picture}}"></td>
                    <td data-ng-if="!word.picture" class="word-check ">
                      <img src="assets/images/fallback-img.png" class="img-circle" alt="player" width="40" height="40" />
                    </td>
                    <td class="player-words">
                      <a href=""> <i ui-sref="account.editCustomWord({ id: word.id})" class="fa fa-pencil-square-o left-padding word-icon-colors"></i> </a>
                    <a href=""> <i data-ng-click="curriculum.deleteListener(word)" class="fa fa-trash left-padding word-icon-colors"></i></a></td>
                  </tr>
                  <tr data-ng-if="curriculum.customWords.length === 0">
                    <td colspan="5" data-translate="common.nodata" class="no-data">No data to display</td>
                  </tr>
                  </tbody>
                </table>
              </div>
              <uib-pagination data-ng-if="curriculum.totalItems > curriculum.itemsPerPage" class="pull-right pagination-styles" total-items="curriculum.totalItems" direction-links="false" ng-model="curriculum.currentPage"  items-per-page="curriculum.itemsPerPage"></uib-pagination>
            </uib-accordion-group>
          </uib-accordion>
        </div>
      </div>
    </div>
    <div class="panel curriculum-groupword-panel">
      <div class="panel-heading text-center sp-common-panel-header" data-translate="curriculum.parent_choice">
        Parent's Choice - Word Filter
      </div>
      <div class="panel-body curriculum-groupwordpanel-body">
        <p class="curriculum-milestone-text" data-translate="curriculum.description.milestone_text">At Square Panda, parents and teachers rule! Not all parents and teachers
          want the same things, share the same beliefs, or think the same way. So, we've left it up to you! It's
          completely within your control as to what words your children can and cannot see.&nbsp; Take a look at our
          lists of curated "bathroom words" and more advanced science "anatomy" words.&nbsp; You can turn these entire
          word lists on and off, or you can look at individual words on the list and decide if you want them excluded
          from your child's game. Customize away! </p>

        <p class="curriculum-milestone-text" >
          <b data-translate="curriculum.description.milestone_text_note_head">Note:</b>
          <span data-translate="curriculum.description.milestone_text_note"> Square Panda will never intentionally display a bad word to your
          child. However, as your child explores letter combinations, he/she may inadvertently discover a mature
          word. Here you have the flexibility to allow or disallow these words from your child's game.</span></p>

        <uib-accordion>
          <uib-accordion-group is-open="status.open">
            <uib-accordion-heading>
              <i class=" glyphicon"
                 ng-class="{' glyphicon-triangle-bottom': status.open, ' glyphicon-triangle-right': !status.open}"></i>
              <span data-translate="curriculum.bathroom">Bathroom</span>
            </uib-accordion-heading>
            <div class="curriculum-groupword-data">
              <div class="checkbox">
              <label class="checkbox-selectlabel"><input type="checkbox" ng-model="curriculum.selectedAll" data-ng-click="curriculum.checkAll(curriculum.selectedAll, curriculum.group.bathroomWords)"/><b data-translate="curriculum.selectall">SelectAll</b></label>
              </div>

              <div class="col-md-3 col-sm-3 col-xs-3" data-ng-repeat="words in curriculum.group.bathroomWords " data-ng-init="topIndex = $index">
                <div class="checkbox" data-ng-repeat="word in words track by $index" >
                  <label><input type="checkbox" data-ng-model="word.groupedflag" data-ng-click="curriculum.checkItemBy(topIndex, $index, curriculum.group.bathroomWords, word.groupedflag, 'bathroom')">{{word.Word | lowercase}}</label>
                </div>
              </div>
            </div>
          </uib-accordion-group>
        </uib-accordion>

        <uib-accordion>
          <uib-accordion-group is-open="status.open">
            <uib-accordion-heading>
              <i class=" glyphicon"
                 ng-class="{' glyphicon-triangle-bottom': status.open, ' glyphicon-triangle-right': !status.open}"></i>
              <!--<button class="export-btn" style="margin-top:-10px;" data-ng-show="status.open" data-ng-click="curriculum.exportAnatomyCSV()">Export CSV</button>-->
              <span data-translate="curriculum.anatomy">Anatomy</span>
            </uib-accordion-heading>
            <div class="curriculum-groupword-data">
              <div class="checkbox">
                <label class="checkbox-selectlabel"><input type="checkbox" ng-model="curriculum.checkselectAll" data-ng-click="curriculum.checkAll(curriculum.checkselectAll, curriculum.group.anatomyWords)"/><b data-translate="curriculum.selectall">SelectAll</b></label>
              </div>
              <div class="col-md-3 col-sm-3 col-xs-3" data-ng-repeat="words in curriculum.group.anatomyWords" data-ng-init="topIndex = $index">
                <div class="checkbox"  data-ng-repeat="word in words track by $index">
                  <label><input type="checkbox" data-ng-model="word.groupedflag" data-ng-click="curriculum.checkItemBy(topIndex, $index, curriculum.group.anatomyWords, word.groupedflag, 'anatomy')">{{word.Word | lowercase}}</label>
                </div>
              </div>
            </div>
          </uib-accordion-group>
        </uib-accordion>

        <div class="col-md-12 ">
          <button class="btn btn-primary notification-submit-button center-block" type="submit"
                  data-ng-click="curriculum.submitGroupWords()" data-translate="common.buttons.submit">SUBMIT
          </button>
        </div>
      </div>
    </div>
  </div>

</div>
