.sidebar-transitions {
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

#account-nav-wrapper {
  background: #4CBC96;
  display: none;
  overflow: auto;
  border-top: solid 1px #ffffff;
}

#page-content-wrapper {
  width: 100%;
}

body {
  @extend .sidebar-transitions;
}

#sidebar.sidebar-toggle {
  right: 0px;
}

body.body-toggle {
  padding-right: 180px;
}

.account-nav {
  @extend .reset-padding-margin;
  li {
    list-style: none;
    a {
      color: #fff;
      display: block;
      float: left;
      text-decoration: none;
      padding: 10px;
      list-style: none;
      width: 25%;
      text-align: center;
      border-right: solid 1px #ffffff;
      border-left: solid 1px #ffffff;
    }
    a:hover, .active {
      text-decoration: none;
      background: darken(#4CBC96, 10%);
    }
  }
}

#sidebar {
  width: 180px;
  position: fixed;
  top: 0;
  right: -180px;
  background: $primary-color;
  color: white;
  height: 100%;
  overflow: auto;
  @extend .sidebar-transitions;

  .sidebarheader {
    border-bottom: 1px solid #502D88;
    padding-bottom: 15%;
  }
  a {
    color: white;
    text-decoration: none;
    padding-left: 10%;
  }
  ul {
    list-style: none;
    padding: 0;
    margin: 0;
    padding-bottom: 100%;
    li {
      a {
        display: block;
        color: white;
        line-height: 2em;
        text-decoration: none;
        padding: 10px 30px;
        a:hover {
          background: lighten($primary-color, 10%);
        }
      }
    }
  }
  .sidebarfooter{
    border-top: 1px solid #502D88;

  }
}

@media(min-width: 768px) {
  #account-nav-wrapper {
    display: block;
  }
  body.body-toggle {
    padding-right: 0px;
  }
  #sidebar.sidebar-toggle {
    right: -180px;
  }
}
