.sidebar-transitions {
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

#account-nav-wrapper {
  background: #4CBC96;
  display: none;
  overflow: auto;
  border-top: solid 1px #f6f6f6;
}

#page-content-wrapper {
  width: 100%;
}

body {
  @extend .sidebar-transitions;
}

#sidebar.sidebar-toggle {
  right: 0px;
}

body.body-toggle {
  padding-right: 196px;
  margin-left: -196px;
}

nav {
  width: 100%;
  background: #4CBC96;
  border-right: none;
}
nav .account-nav {
  @extend .reset-padding-margin;
  overflow: hidden;
  margin: 0;
  padding: 0;
  li {
    list-style: none;
    a {
      color: #fff;
      display: block;
      float: left;
      text-decoration: none;
      padding: 9px;
      list-style: none;
      width: 25%;
      text-align: center;
      font-family: $font-family;
      font-size: 15px;
      border-right: solid 1px #f6f6f6;
      line-height: 9px;
    }
        a:hover, .active {
      text-decoration: none;
      background: darken(#4CBC96, 10%);
    }
    span{
      vertical-align: -15%;
    }
  }
}

#sidebar {
   font-family: $font-family;
  width: 196px;
  position: fixed;
  top: 0;
  right: -196px;
  background: $primary-color;
  color: white;
  height: 100%;
  overflow: auto;
  @extend .sidebar-transitions;

  .sidebarheader {
    border-bottom: 1px solid #502D88;

  }
  a {
    color: white;
    text-decoration: none;
    padding-left: 10%;
  }
  ul {
    list-style: none;
    padding: 0;
    margin: 0;
    padding-bottom: 100%;
    li {
      a {
        display: block;
        color: white;
        line-height: 1em;
        text-decoration: none;
        padding: 10px 30px;
        font-size: 15px;
        text-transform: lowercase;
        a:hover {
          background: lighten($primary-color, 10%);
        }
      }
    }
  }
  .sidebarfooter{
    border-top: 1px solid #502D88;
    padding-top: 7px;
    a{
      text-transform: uppercase;
    }
  }
}
@media(min-width: 768px) {
  #account-nav-wrapper {
    display: block;
  }
  body.body-toggle {
    padding-right: 0px;
    margin-left: 0px;
  }
  #sidebar.sidebar-toggle {
    right: -196px;
  }
}
@media(min-width: 768px) {
  #sidebar ul{
    padding-bottom: 125%;
  }
}
@media  (max-width: 768px){
#sidebar .sidebarheader {
  padding-bottom: 10%;
}
}
@media only screen and (min-device-width : 375px) {
  #sidebar .sidebarheader {
    padding-bottom: 12%;
  }
}
@media only screen and (min-device-width : 375px) {
  #sidebar ul {
    padding-bottom: 143%;
  }
}
@media only screen and (min-device-width : 320px)and (max-device-width : 340px) {
  #sidebar ul {
    padding-bottom: 115%;
  }
}
@media only screen and (min-device-width : 400px)and (max-device-width : 414px) {
  #sidebar ul {
    padding-bottom: 193%;
  }
}

