$font-stack: Helvetica, sans-serif;
$sample-color: #552f91;

@font-face {
  font-family: 'SquarePanda';
  src: url('../webfonts/SquarePanda.eot?#iefix') format('embedded-opentype'),
  url('../webfonts/SquarePanda.otf') format('opentype'),
  url('../webfonts/SquarePanda.woff') format('woff'),
  url('../webfonts/SquarePanda.ttf') format('truetype'),
  url('../webfonts/SquarePanda.svg#SquarePanda') format('svg');
  font-weight: normal;
  font-style: normal;
}