$font-stack: Helvetica, sans-serif;
$font-family: verdana;
$primary-color: #6e4d9f;
$sp-yellow: #f9a61a;
$sp-green: #4cbc96;
$sp-pink: #ee486f;
$sp-purlple : #99669b;
$white-color: #ffffff;
$black-color: #000000;
$account-bg-color: #f6f6f6;
$bg-color: #7e49e9;

