.curriculum-container {
  margin-top: 20px;
  .curriculum-customword-panel{
    .curriculum-customwordpanel-heading{
      background-color:#F9A61A;
      color: $white-color;
    }
     .add-customword-panle-body{
       padding: 20px;
       padding-bottom: 0px;
       .add-custom-word{

         padding: 0px;
         margin-bottom: 2%;
         color: #BCBCBC;
         .form-control{
           height: 45px;
           font-size: 17px;
         }
         input::-webkit-input-placeholder{
           color: #DADADA;
         }
         input:-moz-placeholder{
           color: #DADADA;
         }

         input::-moz-placeholder{
           color: #DADADA;
         }

         input:-ms-input-placeholder {
           color: #DADADA;
         }
         .add-custom-word-button{
           padding: 10px 45px 10px 45px;
         }
       }
       .custom-word-list{
         background-color: #FAFAFA;
         .panel-default {
           .panel-heading{
             background-color: #F7F5EB;
             padding: 15px;
           }
         }
         .panel-title{
           color: #AAA9A9;
           a{
             text-decoration: none;
             border: none;
              }
           a:focus{
             text-decoration: none;
             outline: none;
             outline-offset: none;
           }
         }
         .panel-body{
           background-color: #FAFAFA;
           padding: 0px;
           td{
             padding-top: 15px;
             padding-bottom: 15px
           }
         }
       }
       .table {
         border: 1px solid #C7C7C7;
         background-color: white;
         margin-bottom: 0px;
         border-top: 0px;
         thead th {
           background-color: #9B9B9B;
           padding-top: 17px;
           padding-bottom: 17px;
           color: $white-color;
           font-weight: normal;
           border-bottom: none;
         }
       }
       tr, th {
         text-align: center;
       }
       td{
         border-top: none;
         color: lighten(#000, 30%);
         .last-attempt-green{
           color: $sp-green;
         }
         .last-attempt-blue{
           color: #6E4D9F;
         }

       }
       .left-padding{
         padding-left: 20px;
       }
     }
  }
  .curriculum-groupword-panel {
    font-family: $font-family;
    .curriculum-groupwordpanel-heading {
      background-color: #F9A61A;
      color: $white-color;
    }
    .curriculum-groupwordpanel-body{
      .panel-title{
        color :#767575;
        a{
          text-decoration: none;
          border: none;
        }
        a:focus{
          text-decoration: none;
          outline: none;
          outline-offset: none;
        }
      }

      .panel-heading{
        background-color: #F7F5EB;
        padding: 15px;
        i{
          margin-right: 15px;
        }
      }
      .panel-body{
        background-color: #FAFAFA;
      }
      .curriculum-milestone-text{
        color: #BCBCBC ;
      }
    }
    .curriculum-groupword-data{
      color: #A6A5A5;
    }
  }
}

.left-inner-addon input {
  padding-left: 30px;
}

.bad-words{
  background-color: whitesmoke;
  padding: 1%;
  margin-bottom: 2%;
}
.curriculum-custom-checkbox-span{
  padding-left: 8px;
  margin: 3px 0 15px;
  font-family: $font-family;
  font-size: 15px;
  color:#C3C3C3;
}
.curriculum-custom-word-button{
  padding: 10px 95px 10px 97px;
}
.custom-search-button{
  color: white;
  background-color: #7E7E7E;
  border-color: #adadad;
}
.custom-search-button:hover{
  color: white;
  background-color: #7E7E7E;
  border-color: #adadad;
}
.add-word-button{
  padding: 5px 37px 5px 37px;
  margin-right: 15px;
}
.add-cancel-button{
  padding: 5px 50px 5px 50px;
}
.thumbnail {
  .apply-margin-bottom {
    margin-bottom: -64px;
  }
}
