.dashboard-container{
  margin-top: 15px;
  .feed-row{
    .panel{
      border: solid 1px #c2ccd1;
      .panel-footer{
        .icons-block{
          i{
            margin-right: 10px;
          }
        }
      }
    }
  }
}
.first-element {
  margin: -10px 0 10px !important;
}
.second-element{
  padding-bottom: 7.7%;
}
.third-element{
  padding-bottom: 0%;
}
.third-imgsize{
  min-width: 60%;
}
.first-imgsize{
  min-width: 100%;
}
