.player-container {
  padding-top: 30px
}

.newsfeed-conatiner {

}

.dashboard-container {
  background-color: $account-bg-color;
  .welcome-feed {
    font-family: AvertaStd-Regular;
    border-radius: 10px;
    background-color: #00ccff;
    padding-top: 10px;
    .panel {
      background-color: transparent;
      .welcome-feed-description {
        color: $white-color;
        padding: 30px;
        padding-top: 0px;
        a {
          text-decoration: underline;
          float: right;
          color: white;
        }
        a:hover {
          text-decoration: underline;
          color: white;
        }
      }
      .panel-footer {
        clear: both;
        background-color: #64A53A;
        padding: 0px;
        text-align: right;
        border-top: none;
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
      }
    }

    .welcomename-elipsis{
      text-transform: capitalize;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      width: 100%;
    }
  }
  .welcome-feed-details {
    padding: 0px 25px 5px 25px;
    margin-top: -5px;
    .welcome-feed-ending {
      margin-top: 35px;
      line-height: 0px;
    }
    .welcome-feed-ending-details-ending {
      color: #f26383;
      font-family: AvertaStd-Semibold;
    }
  }

  .earn-badge {
    background-color: #552F91;
    border-radius: 10px;
    margin-bottom: 10px;
    .ed-welcomefeed {
      width: 257px;
      overflow: auto;
      margin: 0 auto;
    }
    .eb-left {
      margin-top: 25px;
      text-align: center;
      margin-bottom: 24px;
      h3 {
        text-align: center;
        color: #ffffff;
        font-size: 26px;
        line-height: 21px;
        font-weight: normal;
        font-family: AvertaStd-Thin;
      }
    }
    .eb-left-content {
      padding: 14px 0px;
      float: right;
      margin-right: 9px;
      h4 {
        text-align: center;
        margin: 0px;
        color: #ffffff;
        line-height: 33px;
        font-size: 15px;
      }
      h3 {
        color: white;
        background-color: #f9a61a;
        padding: 6px;
        border-radius: 4px;
        margin-top: 10px;
      }
      .welcome-feed-button {
        border: 2px solid #F9A61A;
        background-color: transparent;
        color: #ffffff;
        letter-spacing: 1px;
        font-family: AvertaStd-Thin;
      }
      .welcome-feed-button:hover {
        background-color: darken(#552F91, 10%);
      }
    }
    .eb-right-content {
      float: right;
      margin-top: 16px;
      margin-bottom: 10px;
    }

  }

  .feed-row {
    .panel {
      margin-bottom: 20px;
      border: solid 1px #e9e9e9;
      border-radius: 10px;
      background-color: #fcfafa;
      .feeditem-image{
        z-index: 14;
        position: relative;
      }
      .minibadge_feed_bg{
        background:#5644BA url(../images/badge-bg.png) no-repeat right;
        padding: 14px 0;
        border-radius: 10px 10px 0px 0px;
        position: relative;
        .badge_gliter{
          z-index: 27;
          position: absolute;
          left: 50%;
          margin-left: -91px;
          top: 10px;
        }
        .badge-background{
          z-index: 0 !important;
          top: 13px !important;
          position: absolute !important;
          left: 51% !important;
          margin-left: -94px !important;
        }
      }
      .feed-img {
        width: 100%;
        border-radius: 10px 10px 0px 0px;
      }
      .hide-img{
        visibility : hidden;
      }
      .feed-img-loader {
        top: 42%;
        left: 38%;
        text-align: center;
        min-width: 25%;
        min-height: 20%;
        position: absolute;
        //border: solid 1px #efefef;
      }
      .panel-body {
        padding: 26px;
        .newsfeed-player-profile-pic{
          float: left;
          img{
            border-radius: 50px;
            max-height:35px ;
            margin-right: 10px;
          }
        }
        .time-ago {
          font-size: 12px;
          margin-top: 3px;
          margin-right: 8px;
          color: #747373;
          display: block;
          float: left;
        }

        .share_tooltip_holder {
          margin-top: 4px;
          position: relative;
          float: left;
          .icons-block {
            position: absolute;
            ul {
              list-style-type: none;
              padding: 0px;
              margin: 0px;
              margin-left: 10px;
              li {
                display: inline;
                padding-right: 15%;
                i {

                  float: left;
                  margin-right: 10px;
                  a {
                    text-decoration: none;
                  }
                }
              }
              li:first-child {
                padding-left: 0px;
              }
            }
          }
          .icons-display {
            width: 98px;
            margin-left: -44px;
            position: absolute;
            margin-top: 0px;
            background-color: #ececec;
            padding: 5px 11px;
            border-radius: 4px;
            box-shadow: 2px 2px 4px #888888;
          }

          .icon-arrow {
            width: 0;
            border-style: solid;
            border-width: 0 8px 8px 8px;
            border-left-color: transparent;
            border-right-color: transparent;
            margin-left: 0px;
            border-bottom-color: #ececec;
            margin-top: 4px;
            position: relative;
          }

        }
        h3 {
          font-size: 21px;
          color: #5d5d5d;
          width: 90%;
        }
        p {
          font-size: 14px;
          color: #9a9a9a;
          line-height: 22px;
        }
      }
      .panel-footer {
        margin-right: -1px;
        background-color: transparent;
        border-top: none;
        text-align: right;
        a{
          color: #333333;
          text-decoration: underline;
        }
      }
    }
  }
}

.player-container {
  padding-top: 30px;
  background-color: $account-bg-color;
}

.curriculum-container {
  background-color: $account-bg-color;
}

.img-radius {
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

.feed-description {
  overflow: hidden;
  text-overflow: ellipsis;
  -moz-box-orient: vertical;
  min-height: 40px;
  -webkit-line-clamp: 5;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  clear: both;
}

.text-ellipsiss {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 100%;
}

.first-element {
  margin: 0px 0 11px !important;
}

.second-element {
  padding-bottom: 0%;
}

.third-element {
  padding-bottom: 0%;
}

.reduce-margin {
  margin-top: 0px !important;
  margin-bottom: 0px !important;
}

.read-more-margin {
  margin-right: 1px;
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) {
  .feed-img {
    max-height: none !important;
  }
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) {
  .feed-img {
    max-height: none !important;
  }
}

@media(min-width: 768px) {
  .welcome-feed-description {
    padding-top: 40px !important;
  }
}

@media(min-width: 995px) {
  .dashboard-container .feed-row .panel .feed-img {
    height: 276px;
    width: 508px;
    border-radius: 10px 0px 0px 10px;
  }

  .dashboard-container .feed-row .panel .minibadge_feed_bg{
    border-radius: 10px 0px 0px 10px !important;
  }
}


