.header {

  .header-bg {
    background: $primary-color url('../images/header-design.png') no-repeat right;
    background-size: 187px 100%;
    height: 100px;
  }

  .navbar-brand{
    padding: 0px;
    margin-top: 10px;
    margin-left: 0px!important;
  }

  .header_left, .header_right {
  	float: left;
  }

  .header-right{
    background: $sp-yellow url('../images/panda.png') no-repeat right;
    background-size: 128px 100%;
    height: 100px;
  }

  .header_right {
  	.top-nav {
  		float: right;
  		ul, li {
  			@extend .reset-padding-margin;
  		}

  		li {
  			list-style: none;
  			display: inline;
  		}

      .dropdown.open{
        margin-right: 79px;
        margin-top: 38px;
      }
  	}
  }
}

.top-header{
  float: right;
  padding: 25% 20px;

  ul, li {
    @extend .reset-padding-margin;
  }
  ul.dropdown-menu{
    left: -50px;
    li a {
      color: #333333;
    }
  }

  li {
    list-style: none;
    display: inline;
    a {
      color: #FFFFFF;
    }
    span {
      margin-left: 8px;
      margin-right: 2px;
      color: #FBA71E;
    }
  }
}

.content {
  min-height: 510px;
}

.footer {
  padding: 15px;
  color: $white-color;
  border: none;
  background-color: $primary-color;
  clear: both;
  ul, li {
    @extend .reset-padding-margin;
  }

  li {
    list-style: none;
    display: inline;
    a{
      color: #fff;
      text-decoration: none;
      margin: 0px;
      font-size: 13px;
      display: block;
      float: left;
      padding-right: 16px;
    }
    a:hover{
      text-decoration: underline;
    }
  }
}

.spinning {
  animation: spin 1s infinite linear;
  -webkit-animation: spin2 1s infinite linear;
}
@keyframes spin {
  from {
    transform: scale(1) rotate(0deg);
  }
  to {
    transform: scale(1) rotate(360deg);
  }
}
@-webkit-keyframes spin2 {
  from {
    -webkit-transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
  }
}
