.navbar {
    min-height: 80px !important;
    .navbar-header {
        .navbar-brand {
            padding: 5px 0 !important;
        }
    }
    ul {
        li {
            a {
                padding: 17px 12px !important;
            }
            .notification {
                font-size: 21px;
                color: #ffffff;
                position: absolute;
            }
            .count {
                position: relative;
                padding: 4px;
                background: #f26e28;
                border-radius: 50px;
                font-size: 8px;
                color: #ffffff;
                bottom: 13px;
                left: 13px;
            }
            .settings {
                font-size: 21px;
                color: #ffffff;
            }
            .questions {
                font-size: 21px;
                color: #ffffff;
            }
            .user-img {
                margin-top: -13px;
                padding-left: 8px;
            }
        }
    }
    .navbar-right {
        margin-top: 10px;
    }
}
.location-selection {
    margin-top: 20px;
    margin-left: 25px;
    width: 230px; 
}
.time {
    margin-left: 0;
    margin-top: 26px;
    color: #ffffff;
}