.app, .header {
  clear: both;
}

.app{
  position: relative;
}

.navbar-brand, .navbar {
  @extend .reset-padding-margin;
}

.header {
  min-height: 40px;
  max-height: 100px;
  position: relative;
  .width30-per, .width70-per {
    width: 51%;
  }

  .header-bg {
    background: $primary-color url('../images/header-design.png') no-repeat 7px;
  }
  .navbar-brand {
    height: auto;
    img {
      min-width: 125px;
      min-height: 50px;
    }
  }

  .header-left, .header-right {
    float: left;
  }

  .header-right {
    background: $sp-yellow url('../images/panda.png') no-repeat right;
    background-size: 30%;
    position: absolute;
    right: 0px;
    height: 100%;
    .top-nav {
      float: right;
      ul, li {
        @extend .reset-padding-margin;
      }

      li {
        list-style: none;
        display: inline;
      }

    }
  }
}

.top-header {
  float: right;
  padding: 0px 20px;
  margin: 15px 0px;
  .dropdown {
    display: none;
  }
  ul, li {
    @extend .reset-padding-margin;
  }
  ul.dropdown-menu {
    left: -50px;
    li a {
      color: #333333;
    }
  }

  li {
    list-style: none;
    display: inline;
    a {
      color: #FFFFFF;
    }
    span {
      margin-left: 8px;
      margin-right: 2px;
      color: #FBA71E;
    }
  }
}

.content {
  min-height: 510px;
}
.register-container{
  min-height: 620px;
}
.footer {
  padding: 15px;
  color: $white-color;
  border: none;
  background-color: $primary-color;
  clear: both;
  ul, li {
    @extend .reset-padding-margin;
  }

  li {
    list-style: none;
    display: inline;
    a {
      color: #fff;
      text-decoration: none;
      margin: 0px;
      font-size: 13px;
      display: block;
      float: left;
      padding-right: 16px;
    }
    a:hover {
      text-decoration: underline;
    }
  }
}

.messages-container {
  margin-top: 8%;
  margin-bottom: 8%;
}

.messages-panel {
  border: 1px solid #4CBC96;
  .panel-heading {
    background-color: #4CBC96;
    span {
      color: white;
    }
  }
  .panel-body {
    background-color: #FAFAFA;
    color: #B3B3B3;
  }
}

@media(min-width: 768px) {
  .top-header .dropdown {
    display: block;
    padding-top: 12px;
  }

  .navbar-brand img {
    margin: 10px 0px;
    padding-right: 44px;
  }
  .header-right, .header-left {
    max-height: 96px;
  }
  .header .header-bg {
    background-position: right;
  }

  .width30-per {
    width: 30%;
  }

  .width70-per {
    width: 70%;
  }

}

@media(max-width: 400px) {

  .header .width70-per {
    width: 70%;
  }

  .header .width30-per {
    width: 30%;
  }

}

@media(min-width: 320px) {
  .top-header {
    display: block;
  }
}

@media only screen
and (min-device-width : 768px)
and (max-device-width : 1024px)
and (orientation : portrait) {
  .header{
    height: 10%;
  }
  .app{
    height: 86%;
  }
  .login-wrapper{
    height: 80%;
  }
  .login-bg{
    background-size: auto 100% !important;
  }
  .account-container{
    min-height: 840px;
  }
}

@media only screen
and (min-device-width : 768px)
and (max-device-width : 1024px)
and (orientation : landscape) {
  .header{
    height: 10%;
  }
  .app{
    height: 80%;
  }
  .login-wrapper{
    height: 80%;
  }
  .account-container {
    min-height: 574px;
  }
  .dashboard-container{
    overflow: scroll;
    height: 540px;
  }
  .container-min-height{
    min-height: 540px;
  }
  .first-imgsize {
    height: 247px !important;
  }
  .second-element {
    padding-bottom: 0%;
  }
  .second-imgsize {
    height: 291px !important;
  }
}

