.players-container {
  margin-top: 25px;
  margin-bottom: 25px;
  .players-panel{
    border: solid 1px #f7ab31;
  }
  .players-tab-list {
    ul {
      @extend .reset-padding-margin;
      background-color: #f7ab31;
      overflow: auto;
      li {
        list-style: none;
        display: inline;
        .active{
          background-color: #eb9710;
        }
        a {
          display: block;
          float: left;
          padding: 10px 20px;
          border-right: 1px solid #eb9710;
          text-decoration: none;
          span {
            color: #ffffff;
            display: block;
            text-align: center;
            line-height: 30px;
            font-size: 15px;
          }
          &:hover {
            background-color: #eb9710;
          }
        }
      }
    }
  }
}
.player-details{
  background-color: #ffffff;
  border: solid 1px #cccccc;
  padding: 10px;
  margin: 10px;
  .profile-pic{
    position: relative;
    margin: 5px;
    a{
      position: absolute;
      bottom: 0px;
      width: 100%;
      background-color: rgba(0, 0, 0, 0.8);
      padding: 8px;
      color: white;
      text-align: center;
    }
  }
}
