.settings-container {
  padding-top: 20px;
  background-color: #F6F6F6;
  .settiings-panel {
    border: none;
    .settiings-panel-body {
      border: 1px solid #E9E9E9;
      padding: 30px 45px;
      .settings-edit-button {
        padding: 5px 72px;
      }
      .settings-save-button {
        padding: 5px 55px;
        margin-right: 10px;
      }
      .settings-submit-button {
        padding: 5px 56px;
      }
      .form-horizontal input, label {
        color: grey;
        font-weight: normal;
      }
      .settings-custom-checkbox {
        width: 20px;
        height: 20px;
      }
      .settings-custom-span {
        margin-left: 10px;
        vertical-align: -30%;
      }
      .notification-submit-button {
        @extend .settings-submit-button;
      }

      .notification-cancel-button {
        padding: 5px 66px;
        margin-left: 10px;
        background-color: #7E7E7E;
      }
      .notification-cancel-button:hover {
        background-color: #7E7E7E !important;
      }
      .checkbox {
        margin-bottom: 0px;
        label {
          color: gray;
          line-height: 28px;
          span{
            margin-left: 10px;
            font-size: 16px;
          }
        }
      }

      .notification-text {
        font-size: 18px;
        color: lighten(gray, 10%);
        a{
          color:#f7ab31;
          text-decoration: underline;
          }

      }
      .notification-text-missing-letters{
        color: lighten(gray, 10%);
      }
      .notification-checkbox-text {
        padding: 0px 0px 0px 30px;
        color: lighten(gray, 10%);
      }
      .notification-checkbox-texts {
        color: lighten(gray, 10%);
      }
    }
  }

  .missing-letter-keyboard{
    .letters_set{
      float: left;
      padding: 0px 13px;
      .ml-letter{
        color: $primary-color;
        padding: 10px 15px;
        border-radius: 5px;
        border: solid 1px #cccccc;
        font-size: 18px;
        font-weight: bolder;
        margin-bottom: 10px;
        cursor: pointer;
      }
      .active{
        background-color: #cccccc!important;
        color: #ffffff!important;
      }
      .vowel{
        color: #f7ab31;
      }
    }
    ul{
      @extend .reset-padding-margin;
      li{
        list-style: none;
        display: inline;
        a{
          display: block;
          float: left;
          padding-top: 21px;
          padding-left: 33px;
          margin-bottom: 10px;
          background: url(../images/letter-bg.png) no-repeat;
          width: 83px;
          height: 79px;
          text-decoration: none;
          font-weight: bold;
          color: #f7ab31;
        }
        .active{
          color: #ffffff;
          background: url(../images/active-letter-bg.png) no-repeat;
        }
      }
    }
  }

}

@media only screen and
(min-device-width: 320px) and (max-device-width: 1024px) {
  .edit-submit-btn {
    margin: 0 auto;
    display: block;
  }
  .submit-clear-all-padding {
    padding: 6px 12px !important;
    width: 45%;
  }
  .submit-clear-parent-div {
    display: inline;
  }
}



