.press-container{
  .press-header{
    text-align: center;
    margin-top: 60px;
    margin-bottom: 50px;
  }
  .image-text{
    text-align: center;
    margin: 20px 0px;
  }
.table-class{
  margin-bottom: 60px;
  table{
    tr {
      td {
        padding: 28px !important;
      }
    }
  }
}
  .presskit-text{
    margin: 20px 0px;
  }
}
.privacy-conatiner{
   li{
    margin-bottom: 10px;
    margin-top: 10px;
  }
}
