.error-mesasage{
  color:#E07C72;
}

.login-wrapper {
	background-color:rgba(0, 0, 0, 0.8);
	padding-top: 30px;
  height: 100%;
}

.login-bg {
	background-image: url('../images/login-bg.jpg');
	background-repeat: no-repeat;
  background-position: center;
  background-size: 100% auto;
  position: absolute;
  left: 0px;
  right: 0px;
  bottom: 0px;
  top: 0px;
  z-index: -999;
}

.login-form {
 	h2{
 		color: $white-color;
 		text-align: center;
    margin-bottom: 40px;
    font-size: 35px;
 	}

	input {
		border-radius: 0px;
    opacity: 0.5;
    color: white;

		border: 0px;
		color: white;
	}

	input::-webkit-input-placeholder{
	  color:    #d1cdcb;
    opacity: 1 !important;
	}

	input:-moz-placeholder {
	  color:    #948e8a;
	}

	input::-moz-placeholder	{
	  color:    #948e8a;
	}

	input:-ms-input-placeholder {
	  color:    #948e8a;
	}

	button {
		border-radius: 0px;
	}

	label {
		color: #fff;
	}

	.btn-primary {
		height: 45px;
    font-size: 20px;
    font-family: $font-family;
	}

	input[type="email"], input[type="password"], input[type="text"] {
		height: 45px;
	}
}
.form-signin-heading{
  font-family: $font-family;
}
.custom-checkbox{
  width: 20px;
  height: 20px;
  margin-top: 0px;
}
.custom-checkbox-span{
  padding-left: 8px;
  margin: 6px 0 10px;
  font-family: $font-family;
  font-size: 15px;
}
.apply-margin{
  margin-bottom: 10px;
}
.login-footer, .register-footer{
  background-color: #000000;
  padding-top: 20px;
  opacity: .5;
  padding-bottom: 20px;
  position: absolute;
  width: 100%;
  bottom: 0px;
  a {
    font-family: $font-family;
    font-size: 15px;
    color: $white-color;
    opacity: 1;

  }
}
.login-top-margin{
  margin-top: 30px;
}

