<div class="container content">

  <div class="col-lg-2"></div>

  <div class="col-lg-8">
    <div class="alert alert-danger" data-ng-if="globals.flash.type === 'error'">
      <strong>{{globals.flash.type}}!</strong> {{globals.flash.message}}
    </div>
    <div class="alert alert-success" data-ng-if="globals.flash.type === 'success'">
      <strong>{{globals.flash.type}}!</strong> {{globals.flash.message}}
    </div>
    <form name="userForm" ng-submit="changePassword.scope.submitForm(userForm.$valid)" novalidate>
      <h2 class="form-signin-heading" data-translate="nav.change_password.header">Change Password</h2>

      <div class="form-group">
        <input type="password" name="oldPasssword" data-ng-model="changePassword.data.oldPassword" class="form-control"  placeholder="{{ 'user.change_password.old_password' | translate }}">
      </div>
      <div class="form-group">
        <input type="password" name="newPasssword" data-ng-model="changePassword.data.newPassword" class="form-control"  placeholder="{{ 'user.change_password.new_password' | translate }}">
      </div>
      <div class="form-group">
        <input type="password" name="confirmPassword" data-ng-model="changePassword.data.confirmNewPassword" placeholder="{{ 'user.change_password.confirm_new_password' | translate }}" class="form-control">
        <p ng-show="changePassword.data.newPassword !== changePassword.data.confirmNewPassword" class="help-block " data-translate="user.validationMessages.password_mismatch">Password mismatch</p>
      </div>
      <button type="submit" class="btn btn-primary" data-translate="common.buttons.submit">Submit</button>

    </form>

  </div>
  <div class="col-lg-2"></div>
</div>
</div>
