<toaster-container class="custom-toaster-conatiner" toaster-options="{'position-class': 'toast-top-center'}"></toaster-container>
<div class="settings-container container-margins">
  <div class="container container-min-height">
    <div class="panel settiings-panel">
      <div class="panel-heading sp-common-panel-header" data-translate="nav.header.edit_profile">
        Edit Profile
      </div>
      <div class="panel-body settiings-panel-body">
        <form name="settingsForm" ng-submit="settings.submitForm(settingsForm)" novalidate>
          <div class="form-horizontal">

            <div class="form-group">
              <div class="col-md-3"></div>
              <div class="col-md-2 ">
              <label class="control-label" data-translate="nav.edit_profile.first_name">First Name:</label>
              </div>
              <div class="col-md-3">
                <input type="text" name="firstName" class="form-control"
                        ng-pattern="/^[A-z][A-z0-9 ]*$/"
                       data-ng-model="settings.model.userData.firstName"
                       placeholder="{{ 'user.first_name' | translate }}" required ng-disabled="!settings.isEditClicked">

                <div class="error-mesasage"  ng-show="settingsForm.firstName.$error.required">
                  <i class="fa fa-exclamation-circle"></i>
                  <span data-translate="user.validationMessages.first_name_require">  First Name is required. </span>
                </div>
                <div class="error-mesasage" ng-show="settingsForm.firstName.$error.pattern && settingsForm.firstName.$dirty">
                  <i class="fa fa-exclamation-circle"></i>
                  <span data-translate="user.validationMessages.no_specialchar_require">No special characters allowed and must start with a letter. </span>
                </div>
              </div>

            </div>

            <div class="form-group">
              <div class="col-md-3"></div>
              <div class="col-md-2 ">
              <label class="control-label " data-translate="nav.edit_profile.last_name">Last Name:</label>
              </div>

              <div class="col-md-3">
                <input type="text" name="lastName" class="form-control" data-ng-model="settings.model.userData.lastName"
                        ng-pattern="/^[A-z][A-z0-9 ]*$/"
                       placeholder="{{ 'user.last_name' | translate }}" required ng-disabled="!settings.isEditClicked">

                <div class="error-mesasage"  ng-show="settingsForm.lastName.$error.required">
                  <i class="fa fa-exclamation-circle"></i>
                  <span data-translate="user.validationMessages.last_name_require">Last Name is required.</span>
                </div>

                <div class="error-mesasage" ng-show="settingsForm.lastName.$error.pattern && settingsForm.lastName.$dirty">
                  <i class="fa fa-exclamation-circle"></i>
                  <span data-translate="user.validationMessages.no_specialchar_require">No special characters allowed and must start with a letter.</span>
                </div>
              </div>
            </div>

            <div class="form-group">
              <div class="col-md-3"></div>
              <div class="col-md-2 ">
              <label class="control-label" data-translate="nav.edit_profile.email">Email:</label></div>

              <div class="col-md-3">
                <input type="text" name="email" class="form-control" data-ng-model="settings.model.userData.email"
                       placeholder="{{ 'user.email' | translate }}" disabled>
              </div>
            </div>

            <div class="form-group">
              <div class="col-md-3"></div>
              <div class="col-md-2">
                <label class=" control-label" data-translate="nav.edit_profile.mobile_num">Mobile
                Number:</label>
              </div>

              <div class="col-md-3">
                <input type="text" name="mobileNumber" data-ng-model="settings.model.userData.mobileNumber"
                       class="form-control" ng-pattern="/^[\+]?[(]?[0-9]{3}[)]?[-\s\.]?[0-9]{3}[-\s\.]?[0-9]{4,6}$/"
                       placeholder="{{ 'user.register.mobile' | translate }}" ng-disabled="!settings.isEditClicked">

                <div class="error-mesasage" ng-show='settingsForm.mobileNumber.$error.pattern && settingsForm.mobileNumber.$dirty'>
                  <i class="fa fa-exclamation-circle"></i>
                  <span data-translate="user.validationMessages.mobile_num_invalid">Mobile Number is not valid</span>
                </div>
              </div>
            </div>

            <div class="form-group">
              <div class="col-md-5"></div>
              <div class="col-md-6">
                <button class="btn btn-primary settings-edit-button edit-submit-btn" type="button" data-ng-click="settings.edit();"
                        data-ng-hide="settings.isEditClicked">Edit
                </button>
                <button type="submit" data-ng-disabled="settingsForm.$invalid"
                        class="btn btn-primary settings-save-button submit-clear-all-padding"
                        data-translate="common.buttons.save" data-ng-show="settings.isEditClicked">Save
                </button>
                <button type="button"  class="btn btn-primary cancel-button submit-clear-all-padding"
                        data-translate="common.buttons.cancel" ng-click="settings.cancel()"
                        data-ng-show="settings.isEditClicked">Cancel
                </button>
              </div>

            </div>
            </div>
        </form>
      </div>
    </div>
    <div class="panel settiings-panel">
      <div class="panel-heading sp-common-panel-header" data-translate="nav.header.change_password"> Change Password
      </div>
      <div class="panel-body settiings-panel-body">
        <form name="changepasswordForm" ng-submit="settings.submitchangepassword(changepasswordForm)" novalidate>
          <div class="form-horizontal">

            <div class="form-group">
              <div class="col-md-3"></div>
              <div class="col-md-2">
                <label class="control-label " data-translate="nav.change_password.old_password">Old
                  password:</label>
              </div>

              <div class="col-md-3">
                <input type="password" class="form-control " name="oldPassword"
                       ng-model="settings.model.passwordData.oldPassword"
                       placeholder="{{ 'user.change_password.old_password' | translate }}" required>

                <div class="error-mesasage" ng-show="changepasswordForm.$submitted && changepasswordForm.oldPassword.$error.required">
                  <i class="fa fa-exclamation-circle"></i>
                  <span data-translate="user.validationMessages.old_password_require">Old Password is required</span>
                </div>

              </div>
            </div>

            <div class="form-group">
              <div class="col-md-3"></div>
              <div class="col-md-2">
                <label class=" control-label" data-translate="nav.change_password.new_password">New
                  Password:</label>
              </div>
              <div class="col-md-3">

                <input type="password" class="form-control " name="password"
                       ng-model="settings.model.passwordData.password"
                       pattern="[A-Za-z0-9\W]{8,20}" placeholder="{{ 'user.password' | translate }}" required>

                <div class="error-mesasage" ng-show="changepasswordForm.$submitted && changepasswordForm.password.$error.required">
                  <i class="fa fa-exclamation-circle"></i>
                  <span data-translate="user.validationMessages.password_require">Password is required</span>
                </div>

                <div class="error-mesasage" ng-show='changepasswordForm.password.$error.pattern && changepasswordForm.password.$dirty'>
                  <i class="fa fa-exclamation-circle"></i>
                  <span data-translate="user.validationMessages.password_strength">Password must be between 8 and 20 characters.</span>
                </div>

              </div>
            </div>

            <div class="form-group ">
              <div class="col-md-3"></div>
              <div class="col-md-2">
                <label class=" control-label" data-translate="nav.change_password.confirm_new_password">Confirm
                  Newe Password:</label>
              </div>
              <div class="col-md-3">

                <input type="password" name="confirmPassword"
                       data-ng-model="settings.model.passwordData.confirmPassword"
                       placeholder="{{ 'user.register.confirm_password' | translate }}" class="form-control" required>

                <div class="error-mesasage" ng-show="!changepasswordForm.confirmPassword.$error.required && settings.model.passwordData.password !== settings.model.passwordData.confirmPassword">
                  <i class="fa fa-exclamation-circle"></i>
                  <span data-translate="user.validationMessages.password_mismatch"> Please make sure your passwords match.</span>
                </div>

                <div class="error-mesasage" ng-show="(changepasswordForm.$submitted && changepasswordForm.confirmPassword.$error.required )">
                  <i class="fa fa-exclamation-circle"></i>
                  <span data-translate="user.validationMessages.cpassword_require">Confirm Password is required.</span>
                </div>

              </div>
            </div>

            <div class="form-group ">
              <div class="col-md-5"></div>
              <div class="col-md-3">
                <button type="submit" class="btn btn-primary settings-submit-button edit-submit-btn" data-translate="common.buttons.submit">
                  Submit
                </button>

              </div>
            </div>
          </div>
        </form>
      </div>
    </div>


    <div class="panel settiings-panel">
      <div class="panel-heading sp-common-panel-header" data-translate="settings.lost_letters.header">Lost Letters
      </div>
      <div class="panel-body settiings-panel-body">
        <form name="notificationsForm" role="form" data-ng-submit="settings.updateMissingLetters()"
              novalidate>
          <p class="notification-text-missing-letters col-md-12" data-translate="settings.lost_letters.data">
            Lost a letter? Let us know here and we'll exclude these letters
            from your games!
          </p>

          <div class="missing-letter-keyboard col-md-12 clearfix">
            <div class="clearfix">
              <div data-ng-repeat="item in settings.missingLetters_row_2" class="letters_set" data-ng-init="rowInd = $index">
                  <div data-ng-repeat="letters in item" class="ml-letter" ng-class="{'active': settings.isMissilingLetterSelected(rowInd, $index, 1 ), 'vowel': settings.isLetterVowel(letters.letter)}" data-ng-click="settings.selectCharacter(rowInd, $index, 1)">
                    {{letters.letter}}
                  </div>
                  <div class="ml-letter no-visible" data-ng-if="item.length === 2">A</div>
              </div>
            </div>

            <div class="clearfix">
              <div data-ng-repeat="item in settings.missingLetters" data-ng-init="rowInd1 = $index"  class="letters_set">
                <div data-ng-repeat="letters in item" class="ml-letter" ng-class="{'active': settings.isMissilingLetterSelected(rowInd1, $index, 2 ), 'vowel': settings.isLetterVowel(letters.letter)}" data-ng-click="settings.selectCharacter(rowInd1, $index, 2)">
                  {{letters.letter}}
                </div>
                <div class="ml-letter no-visible" data-ng-if="item.length === 2">A</div>
              </div>
            </div>
          </div>

          <div class="col-md-12 margin-top20 center-align submit-clear-parent-div">
            <button class="btn btn-primary notification-submit-button submit-clear-all-padding" type="submit"
                    data-translate="common.buttons.submit">SUBMIT
            </button>
            <button class="btn btn-primary cancel-button submit-clear-all-padding" type="button"
                    data-translate="common.buttons.clear_all" data-ng-click="settings.clearAllAlphabets()">Clear All
            </button>
          </div>

          <p class="notification-text col-md-12 margin-top20" >
            <span data-translate="settings.lost_letters.to_order"> To order the</span>
              <b data-translate="settings.lost_letters.character_set">Character Set</b><span data-translate="settings.lost_letters.visit"> please visit</span> <a href="http://squarepanda.com" target="-_blank" ata-translate="settings.lost_letters.spanda_website"> www.squarepanda.com </a>
          </p>

        </form>
      </div>
    </div>

    <div class="panel settiings-panel">
      <div class="panel-heading sp-common-panel-header" data-translate="nav.notification.notifications">Notifications
      </div>
      <div class="panel-body settiings-panel-body">
        <form name="notificationsForm" role="form" data-ng-submit="settings.submitNotifications(notificationsForm)"
              novalidate>

          <p class="notification-text-missing-letters col-md-12"  data-translate="settings.notifications.data" >
            Stay up to date on your child's latest accomplishments, learn new reading readiness tips, and be the first to know about new releases of Square Panda learning apps! Tap on any of the activity notifications to receive email updates.
          </p>


            <div class="col-md-4  clearfix">
              <div class="checkbox checkbox-class">
                <label>
                  <input type="checkbox" class="settings-custom-checkbox"  data-ng-model="settings.model.notificationObj.player_updates">
                  <span data-translate="settings.notifications.player_updates" >Player Updates</span>
                </label>
              </div>
                <p class="notification-checkbox-text" data-translate="settings.notifications.player_updates_data">
                  As your child discovers new skills and earns badges you'll receive a realtime update of their activity and progress.
                </p>
            </div>

            <div class="col-md-4  clearfix">
              <div class="checkbox checkbox-class">
                <label>
                  <input type="checkbox" class="settings-custom-checkbox" data-ng-model="settings.model.notificationObj.sp_updates" />
                  <span data-translate="settings.notifications.panda_news">Square Panda News</span>
                </label>
              </div>
              <p class="notification-checkbox-text" data-translate="settings.notifications.panda_news_data">
                Be the first to know about the newest Square Panda learning apps (and get special offers too!)
              </p>
            </div>

            <div class="col-md-4  clearfix">
              <div class="checkbox checkbox-class">
                <label>
                  <input type="checkbox" class="settings-custom-checkbox" data-ng-model="settings.model.notificationObj.educational_updates">
                  <span  data-translate="settings.notifications.educational_feeds">Educational New Feed</span>
                </label>
              </div>
              <p class="notification-checkbox-text" data-translate="settings.notifications.educational_feeds_data">
                Amplify learning with reading readiness tips and the latest research, articles and videos to help your child be reading ready!
              </p>
            </div>


          <div class="col-md-12 margin-top20">
            <button class="btn btn-primary notification-submit-button center-block" type="submit"
                    data-translate="common.buttons.submit">SUBMIT
            </button>
          </div>

        </form>
      </div>
    </div>
  </div>
</div>

