<div class="container">
    <div class="starter-template">
        <div class="container col-md-12">
            <div class="col-md-4">
                <custom-panel heading="Lighting" 
                              theme-class="lighting-panel" 
                              header-icon="svg_icon-lighting.png" outof-service="20" total="56" open="54" closed="37" total-percentage="95" total-count='34' total-text="TOTAl LIGHTS" active-count="34" active-text="ACTIVE LIGHTS" >
                </custom-panel>                
            </div>
            <div class="col-md-4">
                <custom-panel heading="Parking" 
                              theme-class="parking-panel" 
                              header-icon="svg_icon-parking.png" outof-service="13" total="566" open="45" closed="37" total-percentage="30" total-count='76' total-text="TOTAl SLOTS" active-count="56" active-text="ACTIVE SLOTS">
                </custom-panel>
            </div>
            <div class="col-md-4">
                <custom-panel heading="Waste Management" 
                              theme-class="waste-panel" 
                              header-icon="svg_icon-waste.png" 
                              outof-service="16" total="45" 
                              open="45" closed="37" total-percentage="96" 
                              total-count='98' total-text="TOTAl BINS" 
                              active-count="78" active-text="ACTIVE BINS">
                </custom-panel>
            </div>
        </div>
        <div class="container col-md-12">
            <div class="col-md-4">
                <custom-panel heading="Safty & Security" 
                              theme-class="safety-panel" 
                              header-icon="svg_icon-security.png" outof-service="19" total="56" open="34" closed="37" total-percentage="60" total-count='67' total-text="TOTAl CAMERA'S" active-count="98" active-text="ACTIVE CAMERA'S">
                </custom-panel>
            </div>
            <div class="col-md-4">
                <custom-panel heading="Environment" 
                              theme-class="environment-panel" 
                              header-icon="svg_icon-environment.png" outof-service="60" total="65" open="56" closed="37" total-percentage="97" total-count='45' total-text="TOTAl SENSOR'S" active-count="67" active-text="ACTIVE SENSOR'S">
                </custom-panel>
            </div>
            <div class="col-md-4">
                <custom-panel heading="Traffic" 
                              theme-class="traffic-panel" 
                              header-icon="svg_icon-traffic.png" outof-service="10" total="56" open="45" closed="37" total-percentage="80" total-count="67" total-text="TOTAl CAMERA'S" active-count="98" active-text="ACTIVE CAMERA'S">
                </custom-panel>
            </div>
        </div>
    </div>
</div>