<div class="container dashboarddiv">
  <div class="row">
    <div class="col-lg-6 imgdiv">
      <img src="assets/images/img1.PNG" class="img-rounded img-responsive">
    </div>
    <div class="col-lg-6 paneldiv">
      <div class="panel panel-default panelcolor">
        <div class="panel-body">
          <h3>Andre Agassi Invests In Square Panda To Help Kids Read</h3>
          <i>10 mints ago</i>
          <p class=""  >
            Tennis Legend Andre Agassi is furthering his commitment to childhood education,investing in a tool that teaches  kids how to read.The Andre Agassi Foundation is working with Square Panda on its digital games that promote literacy in preschool age children.
          </p>
        </div>
        <div class="panel-footer">
         <ul>
           <li><span class="glyphicon glyphicon-home glyphiconsize"></span></li>
           <li> <span class="glyphicon glyphicon-home glyphiconsize"></span></li>
           <li> <span class="glyphicon glyphicon-home glyphiconsize"></span></li>
           <li> <span class="glyphicon glyphicon-home glyphiconsize"></span></li>
           <li> <span class="glyphicon glyphicon-play-circle pull-right glyphiconsize"></span></li>
         </ul>

        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-6 imgdiv">
      <img src="assets/images/img2.PNG"   class="img-rounded img-responsive">
    </div>
    <div class="col-lg-6 paneldiv" >
      <div class="panel panel-default panelcolor" >
        <div class="panel-body">
          <span><img src="assets/images/user-icon.PNG"></span>
           <span class="fontsize" >Agnes discovers shape and letter recognition</span>
          <p>10 mints ago</p>
          <p  >
            Agassi spoke to us about why he is getting involved with this project."My lack of education was my lack of choice in life," he said in a video with TechCrunch Tv. Tennis was waht i was going to do from the time i was born.
          </p>
        </div>
        <div class="panel-footer">
          <ul>
            <li ><span class="glyphicon glyphicon-home glyphiconsize"></span></li>
            <li> <span class="glyphicon glyphicon-home glyphiconsize"></span></li>
            <li> <span class="glyphicon glyphicon-home glyphiconsize"></span></li>
            <li> <span class="glyphicon glyphicon-home glyphiconsize"></span></li>
            <li> <span class="glyphicon glyphicon-play-circle pull-right glyphiconsize"></span></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-6 imgdiv" >
      <img src="assets/images/img3.PNG"  class="img-rounded ">
    </div>
    <div class="col-lg-6 paneldiv" >
      <div class="panel panel-default panelcolor">
        <div class="panel-body">
          <h3>Donate to Head Start Preschools</h3>
          <p>10 mints ago</p>
          <p >
            Bring ipads and Square Panda phonics playsets to every Head Start classroom! This seemed logical enough,so we tried it with a local Head Start first. The Square Panda playset was a huge hit.
          </p>
        </div>
        <div class="panel-footer">
          <ul>
            <li><span class="glyphicon glyphicon-home glyphiconsize"></span></li>
            <li> <span class="glyphicon glyphicon-home glyphiconsize"></span></li>
            <li> <span class="glyphicon glyphicon-home glyphiconsize"></span></li>
            <li> <span class="glyphicon glyphicon-home glyphiconsize"></span></li>
            <li> <span class="glyphicon glyphicon-play-circle pull-right glyphiconsize"></span></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
