<div class="dashboard-container container-margins">
  <div class="container container-min-height ">
    <div class="feed-row" data-ng-if="!dashboard.isUserFirstTimeLoggedIn"
         data-ng-repeat="feedItem in dashboard.data.newsFeedsList.slice(((dashboard.currentPage-1)*dashboard.itemsPerPage), ((dashboard.currentPage)*dashboard.itemsPerPage))">
      <div class="panel clearfix">
        <div class="col-md-5 nopadding">
          <img data-ng-if="!feedItem.image_url" src="assets/images/no-image.png"
               class="img-responsive feed-img img-radius" image-load-complete-evt/>
          <img data-ng-if="feedItem.image_url" data-ng-src="{{feedItem.image_url}}"
               class="img-responsive feed-img img-radius hide-img"
               ng-class="{ 'first-imgsize':$index ==0, 'second-imgsize': $index == 1}"
               image-load-complete-evt="{{feedItem}}"/>
          <span class="feed-img-loader">
              <img src="assets/images/img-loader.gif"/>
          </span>
        </div>
        <div class="col-md-7 nopadding">
          <div class="panel-body">
            <h3 class="reduce-margin text-ellipsiss">{{feedItem.title}}</h3>

            <p class="time-ago" am-time-ago="feedItem.updatedAt"></p>

            <p class="feed-description"
               ng-class="{'first-element':$index ==0,'second-element': $index == 1,'third-element':$index == 2}">
              {{feedItem.description}}</p>
          </div>
          <div class="panel-footer">
            <div class="icons-block">
              <ul>
                <li><a href=""><i itemdata="feedItem" index="$index" data-twitter-share></i></a></li>
                <li><a href="" style="color:#DD4F43"><i itemdata="feedItem" index="$index" data-fb-share data-lang="en"
                                                        data-count='horizontal'
                                                        data-url='http://google.com' data-via='notsosleepy'
                                                        data-size="medium"
                                                        data-text='Testing Twitter Share' style="color:#DD4F43"></i></a>
                </li>
                <!--<li><a href=""><img src="assets/images/blog.png"></a></li>-->
                <li><a href=""><i itemdata="feedItem" index="$index" gplus-share></i></a></li>
                <li><a href="" ui-sref="account.feeds({ id: feedItem.id})">
                      <img src="assets/images/readmore.png" width="20px;" class="pull-right read-more-margin">
                    </a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="welcome-feed" data-ng-if="!dashboard.hideWelcomeFeedOnload" >
      <div class="panel clearfix">
        <div class="col-md-4 nopadding">
          <div class="welcome-feed-description">
            <h3 style="text-transform: capitalize">Welcome, {{dashboard.userName.firstName}}!</h3>

            <p data-translate="dashboard.welcome_feed.welcome_feed_description">We’re delighted that you’re
              here to take the first steps towards
              your child’s reading readiness with
              Square Panda’s Playground!</p>
            <a href="javascript:;" data-ng-if="!dashboard.isUserFirstTimeLoggedIn"
               data-ng-click="dashboard.showWelcomeMessageDetail()">
              <span data-ng-if="dashboard.showWelcomeNewsFeedDetails" data-translate="dashboard.welcome_feed.read_less"> Read less </span>
              <span data-ng-if="!dashboard.showWelcomeNewsFeedDetails"
                    data-translate="dashboard.welcome_feed.read_more"> Read more </span>
            </a>
          </div>
        </div>
        <div class="col-md-8 nopadding">
          <img data-ng-if="!feedItem.image_url" src="assets/images/welcome-feed-img.png" width="100%"/>
        </div>
        <div class="panel-footer clearfix">
          <div class="col-md-4"></div>
          <div class="col-md-8">
            <img src="assets/images/welcome-feed-footer-img.png" width="100%"/>
          </div>
        </div>
      </div>
    </div>
    <div data-ng-if="dashboard.isUserFirstTimeLoggedIn || dashboard.showWelcomeNewsFeedDetails">
      <div class="welcome-feed-details">
        <p data-translate="dashboard.welcome_feed.welcome_feed_details_first">This is your destination to view the
          footprints of your child’s newly earned badges and discover more skills that they're ready to learn.</p>

        <p data-translate="dashboard.welcome_feed.welcome_feed_details_second">It’s easy to follow your child’s progress
          with a quick glance at their collection of earned badges. These badges symbolize the top skills your child
          needs to become reading ready from letter identification to rhymes to blended letter sounds! To help your
          child practice, you can view lists of all the letters and words they’ve learned.</p>

        <p data-translate="dashboard.welcome_feed.welcome_feed_details_third">Imagine how thrilled your child will be
          when she or he discovers the word “Mom” and your photo appears on screen while they’re playing! By adding new
          words and familiar pictures to your child’s word bank, you'll be able to customize any word imaginable - pets,
          family members, school logos and even special spelling lists. Just check out the Customise area to create
          personalized word lists.</p>

        <p data-translate="dashboard.welcome_feed.welcome_feed_details_fourth">Well we have kept you long enough - it's
          time to jump into the Playground!</p>

        <p class="welcome-feed-ending" data-translate="dashboard.welcome_feed.welcome"> Welcome!</p>

        <p class="welcome-feed-ending-details-ending" data-translate="dashboard.welcome_feed.welcome_feed_squarepanda">
          Square Panda Team</p>

      </div>
      <div class="earn-badge clearfix">
        <div class="col-md-6">
          <div class="eb-left">
            <h3 data-translate="dashboard.welcome_feed.help_child">Help your child</h3>

            <h3 data-translate="dashboard.welcome_feed.earn_badge">earn their 1 st badge</h3>
          </div>
        </div>
        <div class="col-md-6">
          <div class="ed-welcomefeed">
            <div class="eb-right-content">
              <img src="assets/images/name-badge-welcome-feed.png" width="80" class="center-align"/>
            </div>

            <div class="eb-left-content">
              <h4 data-translate="dashboard.welcome_feed.earn_new_badge">Earn a New Badge</h4>
              <button ui-sref='account.players' class="btn btn-default welcome-feed-button"
                      data-translate="dashboard.welcome_feed.spelled_myname">"I spelled my name"
              </button>
            </div>
          </div>


        </div>
      </div>
    </div>
    <uib-pagination data-ng-if="dashboard.totalItems > dashboard.itemsPerPage" class="pull-right"
                    total-items="dashboard.totalItems" direction-links="false" ng-model="dashboard.currentPage"
                    items-per-page="dashboard.itemsPerPage"></uib-pagination>

  </div>
</div>
