<div class="login-bg"></div>
<div class="alert alert-success" data-ng-if="globals.flash && globals.flash.type == 'success'">
    {{globals.flash.message}}
</div>
<div class="alert alert-danger" data-ng-if="globals.flash && globals.flash.type !== 'success'">
    {{globals.flash.message}}
</div>
<div class="content login-wrapper">

  <div class="col-lg-4"></div>

  <div class="col-lg-4">    
    <form name="userForm" class="login-form"  ng-submit="resetPassword.scope.submitForm(userForm.$valid)" novalidate>
      <h2 class="form-signin-heading" data-translate="nav.reset_password.header"></h2>


      <div class="form-group" data-ng-class="{ 'has-error' : (submitted && !resetPassword.data.newPassword) || (userForm.newPassword.$invalid && !userForm.newPassword.$pristine) }">
      <input type="password" name="newPasssword" data-ng-model="resetPassword.data.newPassword" class="form-control"  placeholder="{{ 'user.change_password.new_password' | translate }}">
      <p ng-show="(submitted && !resetPassword.data.newPassword) || (userForm.newPasssword.$invalid && !userForm.newPasssword.$pristine)" class="help-block" data-translate="user.validationMessages.password_require">Password is required</p>
   </div>

   <div class="form-group" data-ng-class="{ 'has-error' : (submitted && !resetPassword.data.confirmPassword) || (userForm.confirmPassword.$invalid && !userForm.confirmPassword.$pristine) || (resetPassword.data.newPasssword !== resetPassword.data.confirmPassword) }">
      <input type="password" name="confirmPassword" data-ng-model="resetPassword.data.confirmPassword" placeholder="{{ 'user.change_password.confirm_new_password' | translate }}" class="form-control">
       <p ng-show="resetPassword.data.confirmPassword && (resetPassword.data.newPassword !== resetPassword.data.confirmPassword)" class="help-block" data-translate="user.validationMessages.password_mismatch">Password mismatch.</p>
       
   </div>


     
      <button type="submit" class="btn btn-large btn-block btn-primary" data-translate="common.buttons.submit">Submit</button>

    </form>

  </div>
  <div class="col-lg-4"></div>
</div>
</div>
