<div class="bg-img"></div>
<div class="content content-bg" cg-busy="{promise:forgot.loadPromise,message:'Submitting Your Data'}">
  <uib-alert type="success" class="alert-success" close="forgot.closeAlert()"
             data-ng-if="globals.flash && globals.flash.type === 'success' && forgot.show"
             dismiss-on-timeout="4000">{{globals.flash.message}}
  </uib-alert>
  <uib-alert type="warning" class="alert-danger" close="forgot.closeAlert()"
             data-ng-if="globals.flash && globals.flash.type !== 'success' && forgot.show"
             dismiss-on-timeout="5000">{{globals.flash.message}}
  </uib-alert>
  <div class="col-lg-4 col-md-3 col-sm-3"></div>
  <div class="col-lg-4 col-md-6 col-sm-6 login-top-margin">

    <form name="signinForm" class="login-form" ng-submit="forgot.submitForm(signinForm)" novalidate>
      <h2 class="form-signin-heading" data-translate="nav.forgot_password.header">Forgot Password</h2>

      <div class="form-group has-feedback" ng-class="{ 'has-error' : (signinForm.name.$invalid && !signinForm.name.$pristine) }">
        <input type="email" name="email" class="form-control" ng-model="forgot.model.email"
               placeholder="{{ 'user.username' | translate }}" ng-pattern="/^[a-zA-Z0-9._]+[+]?[a-zA-Z0-9._]*@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,3}$/" required>
        <i class="fa fa-user form-control-feedback "></i>
      </div>

      <button class="btn btn-large btn-block btn-primary" type="submit" data-ng-disabled="!forgot.model.email" data-translate="common.buttons.forgot_password">REQUEST PASSWORD</button>
    </form>
  </div>
  <div class="col-lg-4 col-md-3 col-sm-3"></div>
</div>
