<div class="login-bg"></div>
<uib-alert type="success" class="alert-success" close="forgot.closeAlert()"
           data-ng-if="globals.flash && globals.flash.type === 'success' && forgot.show"
           dismiss-on-timeout="4000">{{globals.flash.message}}
</uib-alert>
<uib-alert type="warning" class="alert-danger" close="forgot.closeAlert()"
           data-ng-if="globals.flash && globals.flash.type !== 'success' && forgot.show"
           dismiss-on-timeout="5000">{{globals.flash.message}}
</uib-alert>
<div class="content login-wrapper" cg-busy="{promise:forgot.loadPromise,message:'Submitting Your Data'}">
  <div class="col-lg-4 col-md-3 col-sm-3"></div>
  <div class="col-lg-4 col-md-6 col-sm-6">

    <form name="signinForm" class="login-form" ng-submit="forgot.submitForm(signinForm)" novalidate>
      <h2 class="form-signin-heading" data-translate="nav.forgot_password.header">Forgot Password</h2>

      <div class="form-group" ng-class="{ 'has-error' : (signinForm.name.$invalid && !signinForm.name.$pristine) }">
        <input type="email" name="email" class="form-control" ng-model="forgot.model.email"
               placeholder="{{ 'user.email' | translate }}" ng-pattern="/^[a-zA-Z0-9._]+[+]?[a-zA-Z0-9._]*@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,3}$/" required>
      </div>

      <button class="btn btn-lg btn-primary btn-block" type="submit" data-ng-disabled="!forgot.model.email"
              ><span data-translate="common.buttons.submit">Submit</span></button>
    </form>
  </div>
  <div class="col-lg-4 col-md-3 col-sm-3"></div>
</div>
