<div class="container content">
  <div class="press-container">
    <h1 translate="nav.press.header" class="press-header clearfix">Press</h1>
    <div>
      <img src="assets/images/pressmainimage.png" class="img-responsive">
    </div>

    <p class="image-text">
      <strong >Click the logos below to see what all the buzz is about!</strong>
    </p>

    <table align="center" border="1" rules="all">
      <tr >
        <td>
          <a href="http://techcrunch.com/video/andre-agassi-wants-to-help-kids-learn/519393242/" target="_blank">
            <img src="assets/images/techcrunchlogo.png" width="100%">
          </a>
        </td>
        <td>

          <a href="http://www.upworthy.com/tennis-legend-andre-agassi-is-trying-to-teach-kids-to-read-in-a-new-very-fascinating-way" target="_blank"><img src="assets/images/upworthylogo.png" width="100%"></a>
        </td>
        <td>
          <p><a href="http://www.people.com/article/andre-agassi-square-panda-teach-kids" target="_blank"><img src="assets/images/peoplelogo.png" alt="" width="100%"></a></p>
        </td>
      </tr>
      <tr>
        <td><a href="http://www.usatoday.com/story/tech/2016/01/04/tennis-great-agassi-debuts-ed-tech-venture-ces/78283862/" target="_blank"><img src="assets/images/ushatodaylogo.png" width="100%"></a></td>
        <td>
          <p><a href="https://www.edsurge.com/news/2016-01-05-why-andre-agassi-invested-in-this-phonics-startup" target="_blank"><img src="assets/images/edsurgelogo.png" width="100%"></a></p>
        </td>
        <td><a href="http://www.nbcnews.com/video/high-tech-toy-helps-preschool-kids-learn-new-words-599877187741" target="_blank"><img src="assets/images/nbcnewslogo.png" width="100%"></a></td>
      </tr>
      <tr>
        <td><a href="http://blogs.edweek.org/edweek/the_startup_blog/2016/01/literacy_startup_finds_success_at_major_electronics_conference.html" target="_blank"><img src="assets/images/educationweeklogo.png" width="100%"></a></td>
        <td><a href="http://www.geekwire.com/2016/heres-tennis-legend-andre-agassi-big-ces-tech-show/" target="_blank"><img src="assets/images/geekwirelogo.png" width="100%"></a></td>
        <td><a href="http://www.forbes.com/sites/georgeanders/2016/01/05/andre-agassi-struggled-in-school-now-he-invests-in-phonics-startup/#2715e4857a0b4eaad8a65d36" target="_blank"><img src="assets/images/forbeslogo.png" width="100%"></a></td>
      </tr>
    </table>
    <p ><a href="https://www.dropbox.com/sh/1ovqi7pu558bpcy/AADOaidCrmANDK4-MSGKFzQRa?dl=0" target="_blank"><img alt="" src="assets/images/presskit.png" class="img-responsive center-block"></a></p>
    <p class="presskit-text text-center"><strong>For press inquiries please contact press@squarepanda.com</strong></p>
  </div>
</div>
