<div class="container content privacy-conatiner">
  <h1 class="text-center">Children's Privacy Policy</h1>

  <h3 class="text-center">Square Panda Inc.</h3>

  <h3 class="text-center">Plain English Version:</h3>
  <br>

  <p class="p-font">Square Panda Inc. (SP) complies with COPPA (http://www.coppa.org), the Children's Online Privacy
    Protection Act.</p>

  <p class="p-font">SP collects information from the parent about their child, in order that we can personalize the
    child's experience,
    enhance and personalize the child's educational curriculum and keep the parent informed of their child's progress.
    We also may contact the parent to let them know of new software releases or updates, or
    news about SP.</p>

  <p class="p-font">Because SP products are educationally focused and targeted at the youngest children, the SP products
    are designed
    with the child's privacy in mind.</p>

  <p class="p-font">SP collects NO Personal Information (PI) directly from the child. We only collect the minimum amount
    of information
    from the child's game play to allow us to track the child's progress across multiple games and provide feedback
    to the parent via our parent portal. This information is collected passively during game play and only consists
    of encrypted device and player identifiers.</p>

  <p class="p-font">SP collects NON PI educational information fron the child's activities playing with our games and
    play set.
    This information is used to track the child's educational progress and present this progress to the parent.
    This data MAY be anonymized and aggregated to improve SP products, validate our curriculum approach, and
    contribute to educational research.
  </p>

  <p class="p-font">Parents have the right to view the PI data collected for their child and to opt out of the
    collection and
    usage of any PI data of their child.</p>

  <p class="p-font"></p>

  <h3><b>In order to comply with COPPA, the children's privacy policy must:</b></h3>
  <ul>
    <li>Include name, address, telephone, email address for each operator.</li>
    <li>Square Panda only operator? (no ads, no third parties, does AWS count? copy from web policy?)
      <ul>
        <li>Name of person to contact.</li>
        <li> Square Panda Inc.</li>
        <li> 935 Benecia Ave.</li>
        <li> Sunnyvale, CA 94085.</li>
        <li> (xxx) xxx-xxxx.</li>
      </ul>
    </li>
    <li>A description of the personal information collected and how it is used
      <ul>
        <li>types of information collected from children
          <ul>
            <li>Square Panda Collects From Parent:
              <ul>
                <li> parent's email (PI of parent).</li>
                <li> child's first name (not PI if just first name).</li>
                <li> child's birthday (not PI).</li>
                <li>child's picture (or voice?), if parent uploads it (PI of child).</li>
                <li>no home or physical address or phone (e-commerce separate system).</li>
                <li>no geo location sufficient to identify address.</li>
              </ul>
            </li>
            <li> Square Panda Collects from Child: (all passive, during game play)
              <ul>
                <li>non-specific device info (IP address, device ID) (Child's PI).</li>
                <li> encrypted unique identifier to connect player across apps and parent portal web sites (Child's PI).
                </li>
              </ul>
            </li>
            <li>Non-Personal Information collected during game play (for educational purpose only)
              <ul>
                <li> each activity (place letter, spell word).</li>
                <li> correct/incorrect of activity.</li>
                <li>time of game play, time of activity.</li>
              </ul>
            </li>
          </ul>
        </li>
        <li>How the personal information is collected (directly, or through cookies, etc. (passively))
          <ul>
            <li>All information collected from child is collected passively during game play.</li>
          </ul>
        </li>
        <li>how the personal information will be used
          <ul>
            <li> Square Panda only uses PI internally.</li>
            <li> PI is used to track the child's educational advancement across multiple games.</li>
            <li> PI is used to update parent on their child's educational progress.</li>
            <li>Parent's PI is used to market (alert parent to new software and updates).</li>
          </ul>
        </li>
        <li>
          whether you disclose PI to third parties. If so, you must list types of businesses and how they use info.
          <ul>
            <li>Square Panda does not disclose child's PI to any third parties.</li>
            <li> Square Panda may disclose parent's PI to third parties for relevant marketing purposes (SP
              partnership with other educational products, etc).
            </li>
            <li> Square Panda may disclose child's anonomous aggregate educational data (not PI) to third parties for
              educational efficacy, product/partnership improvements and educational research.
            </li>
          </ul>
        </li>
      </ul>
    </li>
    <li>A description of parental rights
      <ul>
        <li> that you won't require a child to disclose more info than is reasonably necessary to participate in
          activity.
        </li>
        <li> that they can review their child's personal information, direct you to delete it, and refuse to allow
          further collection or use of the child's information.
        </li>
        <li> that they can agree to the collection and use of their child's information, but still not allow disclosure
          to third parties, if that is part of the service.
        </li>
        <li> the procedures to follow to execute their rights.</li>

      </ul>
    </li>
  </ul>

</div>
