<div class="container content  ">
  <h1 translate="nav.privacy_policy.header">Privacy Policy</h1>

  <p class="p-font">Square Panda Inc. ("us", "we", or "our") operates the www.squarepanda.com website (the
    "Service").</p>

  <p class="p-font">This page informs you of our policies regarding the collection, use and disclosure of
    Personal Information when you use our Service.</p>

  <p class="p-font">We will not use or share your information with anyone except as described in this Privacy
    Policy.</p>

  <p class="p-font"><b>We use your Personal Information for providing and improving the Service. By using the
    Service, you agree to the collection and use of information in accordance with this policy.</b>
    Unless otherwise defined in this Privacy Policy, terms used in this Privacy Policy have the same meanings as in our
    Terms and Conditions, accessible at www.squarepanda.com</p>
  <h4><b>Information Collection And Use</b></h4>

  <p class="p-font">While using our Service, we may ask you to provide us with certain personally identifiable
    information that can be used to contact or identify you. Personally identifiable information may include, but is not
    limited to,
    your email address, name, phone number, postal address ("Personal Information").</p>

  <p class="p-font">We collect this information for the purpose of providing the Service, identifying and
    communicating with you, responding to your requests/inquiries, servicing your products,
    and improving our services.</p>
  <h4><b>Log Data</b></h4>

  <p class="p-font">We may also collect information that your browser sends whenever you visit our Service
    ("Log Data"). This Log Data may include information such as your computer's Internet Protocol ("IP") address,
    browser type, browser version, the pages of our Service that you visit, the time and date of your visit, the time
    spent on those pages and other statistics.</p>

  <p class="p-font">In addition, we may use third party services such as Google Analytics that collect,
    monitor and analyze this type of information in order to increase our Service's functionality. These third party
    service providers have their own privacy policies addressing how they use such information.</p>
  <h4><b>Cookies</b></h4>

  <p class="p-font">Cookies are files with a small amount of data, which may include an anonymous unique identifier. Cookies are sent
    to your browser from a web site and transferred to your device. We use cookies to collect information in order to
    improve our services for you.</p>

  <p class="p-font"> You can instruct your browser to refuse all cookies or to indicate when a cookie is being sent. The Help feature
    on most browsers provide information on how to accept cookies, disable cookies or to notify you when receiving a new
    cookie.</p>

  <p class="p-font">If you do not accept cookies, you may not be able to use some features of our Service and we recommend that you
    leave them turned on.</p>
</div>
