<div class="text-center child-privacy-heading" data-translate="privacy.header">Children's Privacy Policy</div>
<h4 class="text-center child-privacy-semi-heading" data-translate="privacy.sub_header">
  Square Panda Inc-Plain English Version
</h4>
<hr/>
<div class="container content privacy-conatiner">
  <div id="extrnalHtmlViewId" data-ng-if="self.isDataLoaded" external-html-page-loader-dir
       html-page-url="self.contentFrameURL" is-external-html-data-loaded="self.isDataLoaded"
       style="width: 100%; height: auto;">
    <span style="padding: 40% 45%; display: block;">
          <img src="assets/images/img-loader.gif"/>
    </span>
  </div>
</div>

