<div class="termservice-heading ">
  <h1 class="text-center termservice-heading" data-translate="terms_conditions.header">
    Terms of Service
  </h1>
</div>
<hr/>
<div class="container content termservice-container ">
  <div id="extrnalHtmlViewId" data-ng-if="self.isDataLoaded" external-html-page-loader-dir
       html-page-url="self.contentFrameURL" is-external-html-data-loaded="self.isDataLoaded"
       style="width: 100%; height: auto;">
    <span style="padding: 40% 45%; display: block;">
          <img src="assets/images/img-loader.gif"/>
    </span>
  </div>
</div>
