<div class="termservice-heading "><h1 class="text-center termservice-heading">Terms of Service</h1></div>
<hr/>
<div class="container content termservice-container " ng-bind-html="self.content.htmlView">

 <!-- <p class="p-font">Please read these Terms of Service ("Terms", "Terms of Service") carefully before using the
    www.squarepanda.com website (the "Service")
    operated by Square Panda Inc. ("us", "we", or "our").</p>

  <p class="p-font">Your access to and use of the Service is conditioned upon your acceptance of and compliance with
    these Terms. These Terms apply to all
    visitors, users and others who wish to access or use the Service.</p>

  <p class="p-font">Square Panda will repair or replace, at its option, any defective or malfunctioning part at no
    charge. You will not be charged for labor.</p>

  <p class="p-font">By accessing or using the Service you agree to be bound by these Terms. If you disagree with any
    part of the terms then you do not have
    permission to access the Service.</p>

  <div class="terms-sub-heading">Purchases</div>

  <p class="p-font">If you wish to purchase any product or service made available through the Service ("Purchase"), you
    may be asked to supply certain
    information relevant to your Purchase including, without limitation, your credit card number, the expiration date of
    your credit card, your
    billing address, and your shipping information.</p>

  <div class="terms-sub-heading-one">You represent and warrant that: </div>
  <ul class="purchase-li">
    <li>you have the legal right to use any credit card(s) or other
    payment method(s) in connection with
    any Purchase; and that </li>
    <li>the information you supply to us is true, correct and complete.</li>
  </ul>

  <p class="p-font">The service may employ the use of third party services for the purpose of facilitating payment and
    the completion of Purchases. By
    submitting your information, you grant us the right to provide the information to these third parties subject to our
    Privacy Policy.</p>

  <p class="p-font">We reserve the right to refuse or cancel your order at any time for reasons including but not
    limited to: product or service availability,
    errors in the description or price of the product or service, error in your order or other reasons.</p>

  <p class="p-font">We reserve the right to refuse or cancel your order if fraud or an unauthorized or illegal
    transaction is suspected.</p>

  <div class="terms-sub-heading">Product Returns</div>

  <p class="p-font">We stand behind our product and we want you to be a happy customer. If you are not 100% satisfied
    with your purchase, you can return the
    product and receive a full refund, less shipping costs.
  </p>

  <p class="p-font">You have 14 days from receipt of the product to notify us that you wish to return it.</p>

  <p class="p-font">Only items purchased directly from Square Panda (http://www.squarepanda.com) can be returned to
    Square Panda. Items purchased through other
    retailers should be returned to that retailer in accordance with their respective returns and refunds policy.</p>

  <p class="p-font">The item must be returned in the same condition in which it was received, with all original
    packaging and materials.</p>

  <p class="p-font">If you are returning an item under terms of the Square Panda One Year Limited Warranty for Parts and
    Labor or under the terms of the
    Extended Warranty, Square Panda will pay for shipping using the carrier/method of our choice. For all other returns,
    the customer is
    responsible for the costs of shipping and to ensure that the product is received at Square Panda in acceptable
    condition.
  </p>

  <p class="p-font">Shipping fees paid for the original purchase are not refundable.</p>

  <p class="p-font">The refund will be processed back to the original payment method. Square Panda will process your
    refund back to the card-issuing bank
    within 5 business days of receipt and acceptance of the returned item. Please contact the card-issuing bank with
    questions about when the
    credit will be posted to your account.</p>

  <p class="p-font">Software purchased through the Apple iTunes Store must be returned/refunded through the Apple iTunes
    Store. Please see
    https://support.apple.com for more information.</p>
  <div class="terms-sub-heading-two">How to Return an Item to Square Panda</div>
  <div class="terms-sub-heading-three">1. If you are returning an item for repair or replacement under the terms of the standard warranty or the extended
    warranty:</div>
    <ul>
      <li> Email support@squarepanda.com to request a warranty return.</li>
      <li>Follow the instructions from Square Panda regarding return shipping.</li>
    </ul>

  <div class="terms-sub-heading-three">2. If you are returning an item for any other reason:</div>
<ul>
  <li>Email support@squarepanda.com to request a product return authorization. Please include the original proof
    of purchase from Square Panda.</li>
  <li>Once return authorization is received include the authorization with your return.</li>
  <li>Return the product in the original shipping box.</li>
  <li>Costs of packing, shipping, and insurance for non-warranty returns are the responsibility of the customer.
    Ship the product to:
    <ul class="terms-address">
      <li>Square Panda</li>
      <li>935 Benecia Ave.</li>
      <li> Sunnyvale, CA 94085</li>
    </ul>
  </li>
</ul>
  <p class="p-font">Once we receive your item, we will inspect it and notify you that we have received your returned
    item. We will immediately notify you on
    the status of your refund after inspecting the item. If your return is approved, we will initiate a refund to your
    credit card within 5
    business days. Please contact your card-issuing bank with questions about when the credit will be posted to your
    account.</p>

  <div class="terms-sub-heading">Availability, Errors and Inaccuracies</div>

  <p class="p-font">We are constantly updating product and service offerings on the Service. We may experience delays in
    updating information on the Service
    and in our advertising on other web sites. The information found on the Service may contain errors or inaccuracies
    and may not be complete
    or current. Products or services may be mispriced, described inaccurately, or unavailable on the Service and we
    cannot guarantee the accuracy
    or completeness of any information found on the Service.
  </p>

  <p class="p-font">We therefore reserve the right to change or update information and to correct errors, inaccuracies,
    or omissions at any time without prior notice.</p>
  <div class="terms-sub-heading">Accounts</div>

  <p class="p-font">When you create an account with us, you guarantee that you are above the age of 18, and that the
    information you provide us is accurate,
    complete, and current at all times. Inaccurate, incomplete, or obsolete information may result in the immediate
    termination of your
    account on the Service.</p>

  <p class="p-font">You are responsible for maintaining the confidentiality of your account and password, including but
    not limited to the restriction of
    access to your computer and/or account. You agree to accept responsibility for any and all activities or actions
    that occur under your
    account and/or password, whether your password is with our Service or a third-party service. You must notify us
    immediately upon becoming
    aware of any breach of security or unauthorized use of your account.</p>

  <p class="p-font">You may not use as a username the name of another person or entity or that is not lawfully available
    for use, a name or trademark that is subject
    to any rights of another person or entity other than you, without appropriate authorization. You may not use as a
    username any name that is
    offensive, vulgar or obscene.</p>

  <p class="p-font">We reserve the right to refuse service, terminate accounts, remove or edit content, or cancel orders
    in our sole discretion.</p>
  <div class="terms-sub-heading"> Intellectual Property</div>

  <p class="p-font">The Service and its original content, features and functionality are and will remain the exclusive
    property of Square Panda Inc. and its
    licensors. The Service is protected by copyright, trademark, and other laws of both the United States and foreign
    countries. Our trademarks and
    trade dress may not be used in connection with any product or service without the prior written consent of Square
    Panda Inc.</p>

  <div class="terms-sub-heading"> Links To Other Web Sites</div>

  <p class="p-font">Our Service may contain links to third party web sites or services that are not owned or controlled
    by Square Panda Inc.</p>

  <p class="p-font">Square Panda Inc. has no control over, and assumes no responsibility for the content, privacy
    policies, or practices of any third party web
    sites or services. We do not warrant the offerings of any of these entities/individuals or their websites.</p>

  <p class="p-font">You acknowledge and agree that Square Panda Inc. shall not be responsible or liable, directly or
    indirectly, for any damage or loss caused or
    alleged to be caused by or in connection with use of or reliance on any such content, goods or services available on
    or through any such third
    party web sites or services.</p>

  <p class="p-font">We strongly advise you to read the terms and conditions and privacy policies of any third party web
    sites or services that you visit.</p>

  <div class="terms-sub-heading">Termination</div>

  <p class="p-font">We may terminate or suspend your account and bar access to the Service immediately, without prior
    notice or liability, under our sole discretion,
    for any reason whatsoever and without limitation, including but not limited to a breach of the Terms.</p>

  <p class="p-font">If you wish to terminate your account, you may simply discontinue using the Service.</p>

  <p class="p-font">All provisions of the Terms which by their nature should survive termination shall survive
    termination, including, without limitation,
    ownership provisions, warranty disclaimers, indemnity and limitations of liability.
  </p>

  <div class="terms-sub-heading">Indemnification</div>

  <p class="p-font">You agree to defend, indemnify and hold harmless Square Panda Inc. and its licensee and licensors,
    and their employees, contractors, agents,
    officers and directors, from and against any and all claims, damages, obligations, losses, liabilities, costs or
    debt, and expenses (including
    but not limited to attorney's fees), resulting from or arising out of a) your use and access of the Service, by you
    or any person using your
    account and password, or b) a breach of these Terms.</p>
  <div class="terms-sub-heading">Limitation Of Liability</div>

  <p class="p-font disclimer-para">In no event shall Square Panda Inc., nor its directors, employees, partners, agents, suppliers, or
    affiliates, be liable for any indirect,
    incidental, special, consequential or punitive damages, including without limitation, loss of profits, data, use,
    goodwill, or other intangible
    losses, resulting from <ul class="purchase-li"><li>your access to or use of or inability to access or use the Service;</li><li>any conduct or
    content of any third party
    on the Service; </li> <li>any content obtained from the Service; and </li><li>unauthorized access, use or alteration of your
    transmissions or content,
    whether based on warranty, contract, tort (including negligence) or any other legal theory, whether or not we have
    been informed of the
    possibility of such damage, and even if a remedy set forth herein is found to have failed of its essential
    purpose.</li></ul></p>

  <div class="terms-sub-heading">Disclaimer</div>

  <p class="p-font disclimer-para">Your use of the Service is at your sole risk. The Service is provided on an "AS IS" and "AS
    AVAILABLE" basis. The Service is provided without
    warranties of any kind, whether express or implied, including, but not limited to, implied warranties of
    merchantability, fitness for a
    particular purpose, non-infringement or course of performance.</p>
  <div class="terms-data-sub-heading-four">Square Panda Inc. its subsidiaries, affiliates, and its licensors do not warrant that</div>
  <ul class="purchase-li">
    <li> the Service will function uninterrupted, secure oravailable at any particular time or location;</li>
    <li> any errors or defects will be corrected;</li>
    <li> the Service is free of viruses or other harmfulcomponents; or</li>
    <li> the results of using the Service will meet your requirements.</li>
  </ul>
  <div class="terms-sub-heading">Exclusions</div>

  <p class="p-font">Some jurisdictions do not allow the exclusion of certain warranties or the exclusion or limitation
    of liability for consequential or incidental
    damages, so the limitations above may not apply to you.
  </p>
  <div class="terms-sub-heading">Governing Law</div>

  <p class="p-font">These Terms shall be governed and construed in accordance with the laws of California, United
    States, without regard to its conflict of law provisions.</p>

  <p class="p-font">Our failure to enforce any right or provision of these Terms will not be considered a waiver of
    those rights. If any provision of these Terms is
    held to be invalid or unenforceable by a court, the remaining provisions of these Terms will remain in effect. These
    Terms constitute the entire
    agreement between us regarding our Service, and supersede and replace any prior agreements we might have had between
    us regarding the Service.</p>

  <div class="terms-sub-heading">Changes</div>

  <p class="p-font">We reserve the right, at our sole discretion, to modify or replace these Terms at any time. If a
    revision is material we will provide at least
    30 days notice prior to any new terms taking effect. What constitutes a material change will be determined at our
    sole discretion.</p>

  <p class="p-font">By continuing to access or use our Service after any revisions become effective, you agree to be
    bound by the revised terms. If you do not
    agree to the new terms, you are no longer authorized to use the Service.</p>

  <div class="terms-sub-heading-three">Contact Us</div>

  <p class="p-font">If you have any questions about these Terms, please contact us.</p>

  -->
</div>
