<div class="container content warrenty-container">
  <div translate="nav.warranty_info.header" class="warranty-header">Warrenty Information</div>
  <h4 class="text-center warranty-semiheader">(One year limited warranty for parts and labor)</h4>
  <hr/>
  <div id="extrnalHtmlViewId" data-ng-if="self.isDataLoaded" external-html-page-loader-dir
       html-page-url="self.contentFrameURL" is-external-html-data-loaded="self.isDataLoaded"
       style="width: 100%; height: auto;">
    <span style="padding: 40% 45%; display: block;">
          <img src="assets/images/img-loader.gif"/>
    </span>
  </div>
</div>
