<div class="container content col-lg-offset-3 col-lg-6">
  <h1 translate="nav.warrenty_info.header" class="text-center">Warrenty Information</h1>
  <h3>One Year Limited Warranty for Parts and Labor</h3><br>
  <h4><b style="line-height: 46px;">What Does This Warranty Cover?</b></h4>
  <p style="font-size: 18px;">This warranty covers any defects or malfunctions in your new Square Panda phonics playset.</p>
  <h4><b style="line-height: 46px;">How Long Does the Coverage Last?</b></h4>
  <p style="font-size: 18px;">This warranty for one year parts and labor. Coverage terminates if you sell or otherwise transfer the phonics playset.</p>
  <h4><b style="line-height: 46px;">What Will Square Panda Do?</b></h4>
  <p style="font-size: 18px;">Square Panda will repair or replace, at its option, any defective or malfunctioning part at no charge. You will not be charged for labor.</p>
  <h4><b style="line-height: 46px;">What Does This Warranty Not Cover?</b></h4>
  <p style="font-size: 18px;">Batteries, iPads, or any problem that is caused by abuse, misuse, or an act of God (such as a flood) are not covered. Also, consequential and incidental damages are not recoverable under this warranty. Some states do not allow the exclusion or limitation of incidental or consequential damages,
    so the above limitation or exclusion may not apply to you.</p>
   <h4><b style="line-height: 46px;">How Do You Get Service?</b></h4>
  <p style="font-size: 18px;">If something goes wrong with your phonics playset, contact us at support@squarepanda.com.  If you are instructed to return the playset to us, we will inspect your playset and contact you within 72 hours to give the results of our inspection. There is no charge for inspection.</p>
  <h4><b style="line-height: 46px;">How Does State Law Apply?</b></h4>
  <p style="font-size: 18px;">This warranty gives you specific legal rights, and you may also have other rights which vary from state to state.</p>

</div>
