<div class="login-bg"></div>
<uib-alert type="success" class="alert-success" close="resetPassword.closeAlert()"
           data-ng-if="globals.flash && globals.flash.type === 'success' && resetPassword.show"
           dismiss-on-timeout="4000">{{globals.flash.message}}
</uib-alert>
<uib-alert type="warning" class="alert-danger" close="resetPassword.closeAlert()"
           data-ng-if="globals.flash && globals.flash.type !== 'success' && resetPassword.show"
           dismiss-on-timeout="5000">{{globals.flash.message}}
</uib-alert>
<div class="content login-wrapper">

  <div class="col-lg-4"></div>

  <div class="col-lg-4">
    <form name="userForm" class="login-form"  ng-submit="resetPassword.submitForm(userForm)" novalidate>
      <h2 class="form-signin-heading" data-translate="nav.reset_password.header"></h2>


      <div class="form-group" data-ng-class="{ 'has-error' : (submitted && !resetPassword.model.password) || (userForm.password.$invalid && !userForm.password.$pristine) }">
        <input type="password" name="password" data-ng-model="resetPassword.model.password" class="form-control"  placeholder="{{ 'user.change_password.new_password' | translate }}" required />
        <p ng-show="(submitted && !resetPassword.model.password) || (userForm.password.$invalid && !userForm.password.$pristine)" class="help-block" data-translate="user.validationMessages.password_require">Password is required</p>
      </div>

      <div class="form-group" data-ng-class="{ 'has-error' : (submitted && !resetPassword.model.confirmPassword) || (userForm.confirmPassword.$invalid && !userForm.confirmPassword.$pristine) || (resetPassword.model.password !== resetPassword.model.confirmPassword) }">
        <input type="password" name="confirmPassword" data-ng-model="resetPassword.model.confirmPassword" placeholder="{{ 'user.register.confirm_password' | translate }}" class="form-control" required>
        <p ng-show="resetPassword.model.confirmPassword && (resetPassword.model.password !== resetPassword.model.confirmPassword)" class="help-block" data-translate="user.validationMessages.password_mismatch">Password mismatch.</p>
        <p ng-show="(submitted && !resetPassword.model.confirmPassword)" class="help-block" data-translate="user.validationMessages.cpassword_require">Password mismatch.</p>
      </div>

     <button type="submit" class="btn btn-large btn-block btn-primary" data-translate="common.buttons.submit" data-ng-disabled="!resetPassword.model.password || !resetPassword.model.confirmPassword">Submit</button>

    </form>
  </div>
  <div class="col-lg-4"></div>
</div>
</div>
